WSDL/BulkMaterialUsageSheetService.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns2="http://instances.m3301.types.ellipse.mincom.com" xmlns:ns1="http://connectivity.service.ews.mincom.com" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:ns4="http://instances.base.types.ellipse.mincom.com" xmlns:ns3="http://service.ellipse.mincom.com" xmlns:ns6="http://errors.ellipse.mincom.com" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns5="http://attribute.ellipse.mincom.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://bulkmaterialusagesheet.m3301.service.ellipse.mincom.com" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" targetNamespace="http://bulkmaterialusagesheet.m3301.service.ellipse.mincom.com">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://connectivity.service.ews.mincom.com">
			<xsd:complexType name="OperationContext">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="applicationClientId" type="xsd:string"/>
					<xsd:element minOccurs="0" name="district" type="xsd:string"/>
					<xsd:element minOccurs="0" name="eventDisable" type="xsd:boolean"/>
					<xsd:element minOccurs="0" name="maxInstances" type="xsd:int"/>
					<xsd:element minOccurs="0" name="position" type="xsd:string"/>
					<xsd:element minOccurs="0" name="returnWarnings" type="xsd:boolean"/>
					<xsd:element minOccurs="0" name="runAs" type="ns1:RunAs"/>
					<xsd:element minOccurs="0" name="tenantId" type="xsd:string"/>
					<xsd:element minOccurs="0" name="trace" type="xsd:boolean"/>
					<xsd:element minOccurs="0" name="transaction" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RunAs">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="district" type="xsd:string"/>
					<xsd:element minOccurs="0" name="position" type="xsd:string"/>
					<xsd:element minOccurs="0" name="user" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://instances.m3301.types.ellipse.mincom.com">
			<xsd:import namespace="http://service.ellipse.mincom.com"/>
			<xsd:complexType name="ArrayOfBulkMaterialUsageSheetDTO">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="BulkMaterialUsageSheetDTO" nillable="true" type="ns2:BulkMaterialUsageSheetDTO"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="defaultBulkMaterialTypeId">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="6"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="districtCode">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="4"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="lastModifiedTime">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="6"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="defaultSubLedger">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="12"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="lastModifiedDate">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="supplierNumber">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="6"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="supplyCustomerAccountId">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="defaultUseByDate">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="employeeId">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="bulkMaterialUsageSheetId">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="32"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="recordedBy">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="defaultUsageTime">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="warehouseId">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="4"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="defaultBatchLotNumber">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="defaultAccountCode">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="24"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="defaultSupplierReference">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="80"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="defaultUsageDate">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="status">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="BulkMaterialUsageSheetDTO">
				<xsd:complexContent>
					<xsd:extension base="ns3:ServiceDTO">
						<xsd:sequence>
							<xsd:element minOccurs="0" name="bulkMaterialUsageSheetId" type="ns2:bulkMaterialUsageSheetId"/>
							<xsd:element minOccurs="0" name="defaultAccountCode" type="ns2:defaultAccountCode"/>
							<xsd:element minOccurs="0" name="defaultBatchLotNumber" type="ns2:defaultBatchLotNumber"/>
							<xsd:element minOccurs="0" name="defaultBulkMaterialTypeId" type="ns2:defaultBulkMaterialTypeId"/>
							<xsd:element minOccurs="0" name="defaultSubLedger" type="ns2:defaultSubLedger"/>
							<xsd:element minOccurs="0" name="defaultSupplierReference" type="ns2:defaultSupplierReference"/>
							<xsd:element minOccurs="0" name="defaultUsageDate" type="ns2:defaultUsageDate"/>
							<xsd:element minOccurs="0" name="defaultUsageTime" type="ns2:defaultUsageTime"/>
							<xsd:element minOccurs="0" name="defaultUseByDate" type="ns2:defaultUseByDate"/>
							<xsd:element minOccurs="0" name="districtCode" type="ns2:districtCode"/>
							<xsd:element minOccurs="0" name="employeeId" type="ns2:employeeId"/>
							<xsd:element minOccurs="0" name="lastModifiedDate" type="ns2:lastModifiedDate"/>
							<xsd:element minOccurs="0" name="lastModifiedTime" type="ns2:lastModifiedTime"/>
							<xsd:element minOccurs="0" name="recordedBy" type="ns2:recordedBy"/>
							<xsd:element minOccurs="0" name="status" type="ns2:status"/>
							<xsd:element minOccurs="0" name="supplierNumber" type="ns2:supplierNumber"/>
							<xsd:element minOccurs="0" name="supplyCustomerAccountId" type="ns2:supplyCustomerAccountId"/>
							<xsd:element minOccurs="0" name="warehouseId" type="ns2:warehouseId"/>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfBulkMaterialUsageSheetServiceResult">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="BulkMaterialUsageSheetServiceResult" nillable="true" type="ns2:BulkMaterialUsageSheetServiceResult"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BulkMaterialUsageSheetServiceResult">
				<xsd:complexContent>
					<xsd:extension base="ns3:ServiceResult">
						<xsd:sequence>
							<xsd:element minOccurs="0" name="bulkMaterialUsageSheetDTO" type="ns2:BulkMaterialUsageSheetDTO"/>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:simpleType name="supplierReference">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="80"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="usageDateFrom">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="equipmentReference">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="stockCode">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="9"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="bulkMaterialTypeId">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="6"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="usageDateTo">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:complexType name="BulkMaterialUsageSheetSearchParam">
				<xsd:complexContent>
					<xsd:extension base="ns3:AbstractSearchParam">
						<xsd:sequence>
							<xsd:element minOccurs="0" name="bulkMaterialTypeId" type="ns2:bulkMaterialTypeId"/>
							<xsd:element minOccurs="0" name="bulkMaterialUsageSheetId" type="ns2:bulkMaterialUsageSheetId"/>
							<xsd:element minOccurs="0" name="districtCode" type="ns2:districtCode"/>
							<xsd:element minOccurs="0" name="employeeId" type="ns2:employeeId"/>
							<xsd:element minOccurs="0" name="equipmentReference" type="ns2:equipmentReference"/>
							<xsd:element minOccurs="0" name="recordedBy" type="ns2:recordedBy"/>
							<xsd:element minOccurs="0" name="status" type="ns2:status"/>
							<xsd:element minOccurs="0" name="stockCode" type="ns2:stockCode"/>
							<xsd:element minOccurs="0" name="supplierNumber" type="ns2:supplierNumber"/>
							<xsd:element minOccurs="0" name="supplierReference" type="ns2:supplierReference"/>
							<xsd:element minOccurs="0" name="supplyCustomerAccountId" type="ns2:supplyCustomerAccountId"/>
							<xsd:element minOccurs="0" name="usageDateFrom" type="ns2:usageDateFrom"/>
							<xsd:element minOccurs="0" name="usageDateTo" type="ns2:usageDateTo"/>
							<xsd:element minOccurs="0" name="warehouseId" type="ns2:warehouseId"/>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.ellipse.mincom.com">
			<xsd:import namespace="http://errors.ellipse.mincom.com"/>
			<xsd:import namespace="http://instances.base.types.ellipse.mincom.com"/>
			<xsd:import namespace="http://attribute.ellipse.mincom.com"/>
			<xsd:complexType abstract="true" name="ServiceDTO">
				<xsd:complexContent>
					<xsd:extension base="ns4:Base">
						<xsd:sequence>
							<xsd:element minOccurs="0" name="customAttributes" type="ns5:ArrayOfAttribute"/>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ServiceResult">
				<xsd:complexContent>
					<xsd:extension base="ns3:BaseServiceResult"/>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType abstract="true" name="BaseServiceResult">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="errors" type="ns6:ArrayOfError"/>
					<xsd:element minOccurs="0" name="informationalMessages" type="ns6:ArrayOfMessage"/>
					<xsd:element minOccurs="0" name="warnings" type="ns6:ArrayOfWarning"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType abstract="true" name="AbstractSearchParam">
				<xsd:complexContent>
					<xsd:extension base="ns3:ServiceDTO">
						<xsd:sequence>
							<xsd:element minOccurs="0" name="serviceRequiredAttributes" type="ns3:ServiceRequiredAttributes"/>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ServiceRequiredAttributes"/>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://attribute.ellipse.mincom.com">
			<xsd:import namespace="http://bulkmaterialusagesheet.m3301.service.ellipse.mincom.com"/>
			<xsd:complexType name="ArrayOfAttribute">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="Attribute" nillable="true" type="ns5:Attribute"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Attribute">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="name" type="xsd:string"/>
					<xsd:element minOccurs="0" name="namespace" type="xsd:string"/>
					<xsd:element minOccurs="0" name="properties" type="tns:anyType2anyTypeMap"/>
					<xsd:element minOccurs="0" name="value" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://bulkmaterialusagesheet.m3301.service.ellipse.mincom.com">
			<xsd:import namespace="http://connectivity.service.ews.mincom.com"/>
			<xsd:import namespace="http://instances.m3301.types.ellipse.mincom.com"/>
			<xsd:complexType name="anyType2anyTypeMap">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="entry">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="1" minOccurs="0" name="key" type="xsd:anyType"/>
								<xsd:element maxOccurs="1" minOccurs="0" name="value" type="xsd:anyType"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="multipleUnapply">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="inputDtos" nillable="true" type="ns2:ArrayOfBulkMaterialUsageSheetDTO"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="multipleUnapplyResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns2:ArrayOfBulkMaterialUsageSheetServiceResult"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="read">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="serviceDTO" nillable="true" type="ns2:BulkMaterialUsageSheetDTO"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="readResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns2:BulkMaterialUsageSheetServiceResult"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="apply">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="serviceDTO" nillable="true" type="ns2:BulkMaterialUsageSheetDTO"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="applyResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns2:BulkMaterialUsageSheetServiceResult"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="multipleDelete">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="inputDtos" nillable="true" type="ns2:ArrayOfBulkMaterialUsageSheetDTO"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="multipleDeleteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns2:ArrayOfBulkMaterialUsageSheetServiceResult"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="update">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="serviceDTO" nillable="true" type="ns2:BulkMaterialUsageSheetDTO"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns2:BulkMaterialUsageSheetServiceResult"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="multipleApply">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="inputDtos" nillable="true" type="ns2:ArrayOfBulkMaterialUsageSheetDTO"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="multipleApplyResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns2:ArrayOfBulkMaterialUsageSheetServiceResult"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="unapply">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="serviceDTO" nillable="true" type="ns2:BulkMaterialUsageSheetDTO"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="unapplyResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns2:BulkMaterialUsageSheetServiceResult"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="delete">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="serviceDTO" nillable="true" type="ns2:BulkMaterialUsageSheetDTO"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="deleteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns2:BulkMaterialUsageSheetServiceResult"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="search">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="searchParams" nillable="true" type="ns2:BulkMaterialUsageSheetSearchParam"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="restart" nillable="true" type="ns2:BulkMaterialUsageSheetDTO"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="searchResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns2:ArrayOfBulkMaterialUsageSheetServiceResult"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="multipleUpdate">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="inputDtos" nillable="true" type="ns2:ArrayOfBulkMaterialUsageSheetDTO"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="multipleUpdateResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns2:ArrayOfBulkMaterialUsageSheetServiceResult"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="create">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="serviceDTO" nillable="true" type="ns2:BulkMaterialUsageSheetDTO"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="createResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns2:BulkMaterialUsageSheetServiceResult"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="multipleRead">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="inputDtos" nillable="true" type="ns2:ArrayOfBulkMaterialUsageSheetDTO"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="multipleReadResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns2:ArrayOfBulkMaterialUsageSheetServiceResult"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="multipleCreate">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="inputDtos" nillable="true" type="ns2:ArrayOfBulkMaterialUsageSheetDTO"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="multipleCreateResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns2:ArrayOfBulkMaterialUsageSheetServiceResult"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://instances.base.types.ellipse.mincom.com">
			<xsd:complexType abstract="true" name="Base"/>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://errors.ellipse.mincom.com">
			<xsd:complexType name="ArrayOfMessage">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="Message" nillable="true" type="ns6:Message"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Message">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="fieldId" type="xsd:string"/>
					<xsd:element minOccurs="0" name="fieldIndex" type="xsd:int"/>
					<xsd:element minOccurs="0" name="localisable" type="xsd:boolean"/>
					<xsd:element minOccurs="0" name="messageId" type="xsd:string"/>
					<xsd:element minOccurs="0" name="messageInstance" type="xsd:string"/>
					<xsd:element minOccurs="0" name="messageText" type="xsd:string"/>
					<xsd:element minOccurs="0" name="parentInstance" type="xsd:string"/>
					<xsd:element minOccurs="0" name="user" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfWarning">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="Warning" nillable="true" type="ns6:Warning"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Warning">
				<xsd:complexContent>
					<xsd:extension base="ns6:Message"/>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfError">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="Error" nillable="true" type="ns6:Error"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Error">
				<xsd:complexContent>
					<xsd:extension base="ns6:Message"/>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="multipleApplyRequest">
		<wsdl:part name="parameters" element="tns:multipleApply"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="multipleApplyResponse">
		<wsdl:part name="parameters" element="tns:multipleApplyResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="multipleDeleteResponse">
		<wsdl:part name="parameters" element="tns:multipleDeleteResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="createRequest">
		<wsdl:part name="parameters" element="tns:create"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="multipleReadResponse">
		<wsdl:part name="parameters" element="tns:multipleReadResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="multipleCreateResponse">
		<wsdl:part name="parameters" element="tns:multipleCreateResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="readResponse">
		<wsdl:part name="parameters" element="tns:readResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="searchRequest">
		<wsdl:part name="parameters" element="tns:search"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="applyResponse">
		<wsdl:part name="parameters" element="tns:applyResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="multipleUnapplyResponse">
		<wsdl:part name="parameters" element="tns:multipleUnapplyResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteResponse">
		<wsdl:part name="parameters" element="tns:deleteResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="applyRequest">
		<wsdl:part name="parameters" element="tns:apply"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="multipleUnapplyRequest">
		<wsdl:part name="parameters" element="tns:multipleUnapply"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="multipleDeleteRequest">
		<wsdl:part name="parameters" element="tns:multipleDelete"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="multipleUpdateResponse">
		<wsdl:part name="parameters" element="tns:multipleUpdateResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="multipleReadRequest">
		<wsdl:part name="parameters" element="tns:multipleRead"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="createResponse">
		<wsdl:part name="parameters" element="tns:createResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="unapplyRequest">
		<wsdl:part name="parameters" element="tns:unapply"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="readRequest">
		<wsdl:part name="parameters" element="tns:read"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateRequest">
		<wsdl:part name="parameters" element="tns:update"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateResponse">
		<wsdl:part name="parameters" element="tns:updateResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteRequest">
		<wsdl:part name="parameters" element="tns:delete"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="searchResponse">
		<wsdl:part name="parameters" element="tns:searchResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="multipleCreateRequest">
		<wsdl:part name="parameters" element="tns:multipleCreate"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="unapplyResponse">
		<wsdl:part name="parameters" element="tns:unapplyResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="multipleUpdateRequest">
		<wsdl:part name="parameters" element="tns:multipleUpdate"> </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="BulkMaterialUsageSheet">
		<wsdl:operation name="multipleUnapply">
			<wsdl:input name="multipleUnapplyRequest" message="tns:multipleUnapplyRequest"> </wsdl:input>
			<wsdl:output name="multipleUnapplyResponse" message="tns:multipleUnapplyResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="read">
			<wsdl:input name="readRequest" message="tns:readRequest"> </wsdl:input>
			<wsdl:output name="readResponse" message="tns:readResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="apply">
			<wsdl:input name="applyRequest" message="tns:applyRequest"> </wsdl:input>
			<wsdl:output name="applyResponse" message="tns:applyResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="multipleDelete">
			<wsdl:input name="multipleDeleteRequest" message="tns:multipleDeleteRequest"> </wsdl:input>
			<wsdl:output name="multipleDeleteResponse" message="tns:multipleDeleteResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="update">
			<wsdl:input name="updateRequest" message="tns:updateRequest"> </wsdl:input>
			<wsdl:output name="updateResponse" message="tns:updateResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="multipleApply">
			<wsdl:input name="multipleApplyRequest" message="tns:multipleApplyRequest"> </wsdl:input>
			<wsdl:output name="multipleApplyResponse" message="tns:multipleApplyResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="unapply">
			<wsdl:input name="unapplyRequest" message="tns:unapplyRequest"> </wsdl:input>
			<wsdl:output name="unapplyResponse" message="tns:unapplyResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<wsdl:input name="deleteRequest" message="tns:deleteRequest"> </wsdl:input>
			<wsdl:output name="deleteResponse" message="tns:deleteResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="search">
			<wsdl:input name="searchRequest" message="tns:searchRequest"> </wsdl:input>
			<wsdl:output name="searchResponse" message="tns:searchResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="multipleUpdate">
			<wsdl:input name="multipleUpdateRequest" message="tns:multipleUpdateRequest"> </wsdl:input>
			<wsdl:output name="multipleUpdateResponse" message="tns:multipleUpdateResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="create">
			<wsdl:input name="createRequest" message="tns:createRequest"> </wsdl:input>
			<wsdl:output name="createResponse" message="tns:createResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="multipleRead">
			<wsdl:input name="multipleReadRequest" message="tns:multipleReadRequest"> </wsdl:input>
			<wsdl:output name="multipleReadResponse" message="tns:multipleReadResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="multipleCreate">
			<wsdl:input name="multipleCreateRequest" message="tns:multipleCreateRequest"> </wsdl:input>
			<wsdl:output name="multipleCreateResponse" message="tns:multipleCreateResponse"> </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BulkMaterialUsageSheetServiceHttpBinding" type="tns:BulkMaterialUsageSheet">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBindingPolicy"/>
		<wsdl:operation name="multipleUnapply">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="multipleUnapplyRequest">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:input>
			<wsdl:output name="multipleUnapplyResponse">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="read">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="readRequest">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:input>
			<wsdl:output name="readResponse">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="apply">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="applyRequest">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:input>
			<wsdl:output name="applyResponse">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="multipleDelete">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="multipleDeleteRequest">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:input>
			<wsdl:output name="multipleDeleteResponse">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="update">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="updateRequest">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:input>
			<wsdl:output name="updateResponse">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="multipleApply">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="multipleApplyRequest">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:input>
			<wsdl:output name="multipleApplyResponse">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="unapply">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="unapplyRequest">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:input>
			<wsdl:output name="unapplyResponse">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="deleteRequest">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:input>
			<wsdl:output name="deleteResponse">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="search">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="searchRequest">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:input>
			<wsdl:output name="searchResponse">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="multipleUpdate">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="multipleUpdateRequest">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:input>
			<wsdl:output name="multipleUpdateResponse">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="create">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="createRequest">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:input>
			<wsdl:output name="createResponse">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="multipleRead">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="multipleReadRequest">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:input>
			<wsdl:output name="multipleReadResponse">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="multipleCreate">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="multipleCreateRequest">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:input>
			<wsdl:output name="multipleCreateResponse">
				<wsdlsoap:body use="literal"/>
				<wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BulkMaterialUsageSheetService">
		<wsdl:port name="BulkMaterialUsageSheetServiceHttpPort" binding="tns:BulkMaterialUsageSheetServiceHttpBinding">
			<wsdlsoap:address location="http://ews-el8prod.lmnerp02.cerrejon.com/ews/services/BulkMaterialUsageSheetService"/>
		</wsdl:port>
	</wsdl:service>
	<wsp:Policy wsu:Id="BulkMaterialUsageSheetServiceHttpBindingPolicy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:SymmetricBinding>
					<wsp:Policy/>
				</sp:SymmetricBinding>
				<sp:EncryptedSupportingTokens>
					<wsp:Policy>
						<sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
							<wsp:Policy>
								<sp:WssUsernameToken10/>
							</wsp:Policy>
						</sp:UsernameToken>
					</wsp:Policy>
				</sp:EncryptedSupportingTokens>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="BulkMaterialUsageSheetServiceHttpBinding_Policy">
		<wsp:ExactlyOne>
			<wsp:All/>
		</wsp:ExactlyOne>
	</wsp:Policy>
</wsdl:definitions>