EllipseVHSAcknowledgementExcelAddIn/Web References/IssueRequisitionItemStocklessService/IssueRequisitionItemStocklessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ns2="http://instances.m3140.types.ellipse.mincom.com" xmlns:tns="http://issuerequisitionitemstockless.m3140.service.ellipse.mincom.com" xmlns:ns6="http://errors.ellipse.mincom.com" xmlns:ns3="http://service.ellipse.mincom.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:ns5="http://attribute.ellipse.mincom.com" xmlns:ns4="http://instances.base.types.ellipse.mincom.com" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://connectivity.service.ews.mincom.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://issuerequisitionitemstockless.m3140.service.ellipse.mincom.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://connectivity.service.ews.mincom.com">
      <xsd:complexType name="OperationContext">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="district" type="xsd:string" />
          <xsd:element minOccurs="0" name="maxInstances" type="xsd:int" />
          <xsd:element minOccurs="0" name="position" type="xsd:string" />
          <xsd:element minOccurs="0" name="returnWarnings" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="runAs" type="ns1:RunAs" />
          <xsd:element minOccurs="0" name="trace" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="transaction" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RunAs">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="district" type="xsd:string" />
          <xsd:element minOccurs="0" name="position" type="xsd:string" />
          <xsd:element minOccurs="0" name="user" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://instances.m3140.types.ellipse.mincom.com">
      <xsd:import namespace="http://service.ellipse.mincom.com" />
      <xsd:complexType name="ArrayOfImmediateReturnStocklessDTO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ImmediateReturnStocklessDTO" nillable="true" type="ns2:ImmediateReturnStocklessDTO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="projectNumberx2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="projectNumberx1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="authorisedBy">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="costingDistrictCodex1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="percentageAllocatedx1">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="2" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="100.00" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="percentageAllocatedx2">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="2" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="100.00" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="equipmentReferencex1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="warehouseId">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="costingDistrictCodex2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="equipmentReferencex2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="requestedByPositionId">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="processedDate">
        <xsd:restriction base="xsd:date" />
      </xsd:simpleType>
      <xsd:simpleType name="workOrderx1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="workOrderx2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="requestedBySupplyCustomerAccountId">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="transactionType">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="districtCode">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="requisitionNumber">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="requestedByEmployee">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="costCodex2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="24" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="costCodex1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="24" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="isIssue">
        <xsd:restriction base="xsd:boolean" />
      </xsd:simpleType>
      <xsd:simpleType name="processedBy">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ImmediateReturnStocklessDTO">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns2:ImmediateDTO" />
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ImmediateDTO">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns3:ServiceDTO">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="authorisedBy" type="ns2:authorisedBy" />
              <xsd:element minOccurs="0" name="costCodex1" type="ns2:costCodex1" />
              <xsd:element minOccurs="0" name="costCodex2" type="ns2:costCodex2" />
              <xsd:element minOccurs="0" name="costingDistrictCodex1" type="ns2:costingDistrictCodex1" />
              <xsd:element minOccurs="0" name="costingDistrictCodex2" type="ns2:costingDistrictCodex2" />
              <xsd:element minOccurs="0" name="districtCode" type="ns2:districtCode" />
              <xsd:element minOccurs="0" name="equipmentReferencex1" type="ns2:equipmentReferencex1" />
              <xsd:element minOccurs="0" name="equipmentReferencex2" type="ns2:equipmentReferencex2" />
              <xsd:element minOccurs="0" name="holdingDetailsDTO" type="ns2:ArrayOfHoldingDetailsDTO" />
              <xsd:element minOccurs="0" name="isIssue" type="ns2:isIssue" />
              <xsd:element minOccurs="0" name="percentageAllocatedx1" type="ns2:percentageAllocatedx1" />
              <xsd:element minOccurs="0" name="percentageAllocatedx2" type="ns2:percentageAllocatedx2" />
              <xsd:element minOccurs="0" name="processedBy" type="ns2:processedBy" />
              <xsd:element minOccurs="0" name="processedDate" type="ns2:processedDate" />
              <xsd:element minOccurs="0" name="projectNumberx1" type="ns2:projectNumberx1" />
              <xsd:element minOccurs="0" name="projectNumberx2" type="ns2:projectNumberx2" />
              <xsd:element minOccurs="0" name="requestedByEmployee" type="ns2:requestedByEmployee" />
              <xsd:element minOccurs="0" name="requestedByPositionId" type="ns2:requestedByPositionId" />
              <xsd:element minOccurs="0" name="requestedBySupplyCustomerAccountId" type="ns2:requestedBySupplyCustomerAccountId" />
              <xsd:element minOccurs="0" name="requisitionNumber" type="ns2:requisitionNumber" />
              <xsd:element minOccurs="0" name="transactionType" type="ns2:transactionType" />
              <xsd:element minOccurs="0" name="warehouseId" type="ns2:warehouseId" />
              <xsd:element minOccurs="0" name="workOrderx1" type="ns2:workOrderx1" />
              <xsd:element minOccurs="0" name="workOrderx2" type="ns2:workOrderx2" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfHoldingDetailsDTO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="HoldingDetailsDTO" nillable="true" type="ns2:HoldingDetailsDTO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="inventoryCategory">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="conditionCode">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="stockOwnershipIndicator">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="stockCode">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="9" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="batchLotNumber">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="binCode">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="equipmentReference">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="useByDate">
        <xsd:restriction base="xsd:date" />
      </xsd:simpleType>
      <xsd:simpleType name="serialNumber">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantity">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="0" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="999999999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="HoldingDetailsDTO">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns3:ServiceDTO">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="batchLotNumber" type="ns2:batchLotNumber" />
              <xsd:element minOccurs="0" name="binCode" type="ns2:binCode" />
              <xsd:element minOccurs="0" name="conditionCode" type="ns2:conditionCode" />
              <xsd:element minOccurs="0" name="equipmentReference" type="ns2:equipmentReference" />
              <xsd:element minOccurs="0" name="inventoryCategory" type="ns2:inventoryCategory" />
              <xsd:element minOccurs="0" name="quantity" type="ns2:quantity" />
              <xsd:element minOccurs="0" name="serialNumber" type="ns2:serialNumber" />
              <xsd:element minOccurs="0" name="stockCode" type="ns2:stockCode" />
              <xsd:element minOccurs="0" name="stockOwnershipIndicator" type="ns2:stockOwnershipIndicator" />
              <xsd:element minOccurs="0" name="useByDate" type="ns2:useByDate" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfImmediateReturnStocklessServiceResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ImmediateReturnStocklessServiceResult" nillable="true" type="ns2:ImmediateReturnStocklessServiceResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ImmediateReturnStocklessServiceResult">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns3:ServiceResult">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="immediateReturnStocklessDTO" type="ns2:ImmediateReturnStocklessDTO" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:simpleType name="noPrintInd">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="supplierName">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="partIssueAcceptable">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="customsValue">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="2" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="9999999999999.99" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="acknowledgeType">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="directPurchaseOrderNumber">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="totalQuantityRequired">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="0" />
          <xsd:minInclusive value="-999999999" />
          <xsd:maxInclusive value="999999999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="transaction900Key">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="25" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="repairRequestFlag">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="issueRequisitionItem">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="statisticsUpdatedInd">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="classKey734">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="15" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="applicationPartsListingType">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="idtDeployedSystemIssueReqStatus">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantityReactivated">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="0" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="999999999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="originalStockCode">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="9" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantityReceivedInDistrict">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="0" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="999999999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantityIssued">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="0" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="999999999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="description">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="160" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="farDistrict">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="directPurchaseOrderItemNumber">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="valueReceivedInDistrict">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="2" />
          <xsd:minInclusive value="-9999999999999.99" />
          <xsd:maxInclusive value="9999999999999.99" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantityReceivedConsignment">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="0" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="999999999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="bincode">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="issueDistrictCode">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="waybillCurrentLocation">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="entitlementPeriod">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="inventoryValueSecondaryCurrency">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="2" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="9999999999999.99" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantityAcknowledged">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="0" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="999999999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="stockcode">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="9" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="directOrderQuantity">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="0" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="999999999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="componentModificationCode">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="freightValue">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="2" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="9999999999999.99" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="itemPrice">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="6" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="100000000000" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="issuedBy">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="goodsHoldingDistrictCode">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantityReceived">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="0" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="999999999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="orderStatus">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="issuedDate">
        <xsd:restriction base="xsd:date" />
      </xsd:simpleType>
      <xsd:simpleType name="assetValue">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="2" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="9999999999999.99" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="classType734">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="requiredByDate">
        <xsd:restriction base="xsd:date" />
      </xsd:simpleType>
      <xsd:simpleType name="isNewWaybill">
        <xsd:restriction base="xsd:boolean" />
      </xsd:simpleType>
      <xsd:simpleType name="item141StatusDescription">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="applicationPartsListingItemNumber">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="componentCode">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="waybillNumberOfUnits">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="0" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="9999999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="waybillNo">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="intransitInd">
        <xsd:restriction base="xsd:boolean" />
      </xsd:simpleType>
      <xsd:simpleType name="valueIssuedToDistrict">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="2" />
          <xsd:minInclusive value="-9999999999999.99" />
          <xsd:maxInclusive value="9999999999999.99" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="loanReturnReq">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="customsValueSecondaryCurrency">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="2" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="9999999999999.99" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantityIssuedInExcess">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="0" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="999999999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="sequenceNumber">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantityOutstanding">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="0" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="999999999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="custodianId">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="applicationPartsListingSequenceNumber">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="directOrderQuantityReceived">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="0" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="999999999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="unitOfIssue">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantityReturned">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="0" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="999999999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantityRequired">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="0" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="999999999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="purchaseOrderNumber">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="surveyItem">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="activeCrossReferenceInd">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="storesSalePrice">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="4" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="99999999999.9999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="leadTimeCompleteSwitch">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantityIssuedOnConsignment">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="0" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="999999999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="completeInd">
        <xsd:restriction base="xsd:boolean" />
      </xsd:simpleType>
      <xsd:simpleType name="purchaseOrderItemNumber">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="priorityCode">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="goodsHoldingWarehouseId">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="inabilityDate">
        <xsd:restriction base="xsd:date" />
      </xsd:simpleType>
      <xsd:simpleType name="issueRequisitionNumber">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="equipmentGroupIdentifier">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="waybillItemNo">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="goodsHoldingBinCode">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="deliveryInstructionsB">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="60" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="deliveryInstructionsA">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="60" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="reversedPeriodStartDate">
        <xsd:restriction base="xsd:date" />
      </xsd:simpleType>
      <xsd:simpleType name="extendedDeliveryInstructions">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="0" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="holdingWarehouseId">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="activityCounter">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="inabilityReason">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="freightValueSecondaryCurrency">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="2" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="9999999999999.99" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="deliveryLocation">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="inventoryValue">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="2" />
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="9999999999999.99" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="isImmediateIssueReturn">
        <xsd:restriction base="xsd:boolean" />
      </xsd:simpleType>
      <xsd:simpleType name="authorisedStatus">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="holdingBinCode">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="supplierNumber">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="lastAcquittedDate">
        <xsd:restriction base="xsd:date" />
      </xsd:simpleType>
      <xsd:simpleType name="item141Status">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="IssueRequisitionItemStocklessAcknowledgeDTO">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns2:IssueRequisitionItemStocklessDTO">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="acknowledgeType" type="ns2:acknowledgeType" />
              <xsd:element minOccurs="0" name="goodsHoldingBinCode" type="ns2:goodsHoldingBinCode" />
              <xsd:element minOccurs="0" name="goodsHoldingDistrictCode" type="ns2:goodsHoldingDistrictCode" />
              <xsd:element minOccurs="0" name="goodsHoldingWarehouseId" type="ns2:goodsHoldingWarehouseId" />
              <xsd:element minOccurs="0" name="waybillCurrentLocation" type="ns2:waybillCurrentLocation" />
              <xsd:element minOccurs="0" name="waybillNumberOfUnits" type="ns2:waybillNumberOfUnits" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="IssueRequisitionItemStocklessDTO">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns2:IssueRequisitionItemDTO">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="custodianId" type="ns2:custodianId" />
              <xsd:element minOccurs="0" name="deliveryInstructionsA" type="ns2:deliveryInstructionsA" />
              <xsd:element minOccurs="0" name="deliveryInstructionsB" type="ns2:deliveryInstructionsB" />
              <xsd:element minOccurs="0" name="deliveryLocation" type="ns2:deliveryLocation" />
              <xsd:element minOccurs="0" name="description" type="ns2:description" />
              <xsd:element minOccurs="0" name="extendedDeliveryInstructions" type="ns2:extendedDeliveryInstructions" />
              <xsd:element minOccurs="0" name="priorityCode" type="ns2:priorityCode" />
              <xsd:element minOccurs="0" name="quantityAcknowledged" type="ns2:quantityAcknowledged" />
              <xsd:element minOccurs="0" name="supplierName" type="ns2:supplierName" />
              <xsd:element minOccurs="0" name="supplierNumber" type="ns2:supplierNumber" />
              <xsd:element minOccurs="0" name="unitOfIssue" type="ns2:unitOfIssue" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="IssueRequisitionItemDTO">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns3:ServiceDTO">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="activeCrossReferenceInd" type="ns2:activeCrossReferenceInd" />
              <xsd:element minOccurs="0" name="activityCounter" type="ns2:activityCounter" />
              <xsd:element minOccurs="0" name="applicationPartsListingItemNumber" type="ns2:applicationPartsListingItemNumber" />
              <xsd:element minOccurs="0" name="applicationPartsListingSequenceNumber" type="ns2:applicationPartsListingSequenceNumber" />
              <xsd:element minOccurs="0" name="applicationPartsListingType" type="ns2:applicationPartsListingType" />
              <xsd:element minOccurs="0" name="assetValue" type="ns2:assetValue" />
              <xsd:element minOccurs="0" name="authorisedStatus" type="ns2:authorisedStatus" />
              <xsd:element minOccurs="0" name="bincode" type="ns2:bincode" />
              <xsd:element minOccurs="0" name="classKey734" type="ns2:classKey734" />
              <xsd:element minOccurs="0" name="classType734" type="ns2:classType734" />
              <xsd:element minOccurs="0" name="completeInd" type="ns2:completeInd" />
              <xsd:element minOccurs="0" name="componentCode" type="ns2:componentCode" />
              <xsd:element minOccurs="0" name="componentModificationCode" type="ns2:componentModificationCode" />
              <xsd:element minOccurs="0" name="customsValue" type="ns2:customsValue" />
              <xsd:element minOccurs="0" name="customsValueSecondaryCurrency" type="ns2:customsValueSecondaryCurrency" />
              <xsd:element minOccurs="0" name="directOrderQuantity" type="ns2:directOrderQuantity" />
              <xsd:element minOccurs="0" name="directOrderQuantityReceived" type="ns2:directOrderQuantityReceived" />
              <xsd:element minOccurs="0" name="directPurchaseOrderItemNumber" type="ns2:directPurchaseOrderItemNumber" />
              <xsd:element minOccurs="0" name="directPurchaseOrderNumber" type="ns2:directPurchaseOrderNumber" />
              <xsd:element minOccurs="0" name="districtCode" type="ns2:districtCode" />
              <xsd:element minOccurs="0" name="entitlementPeriod" type="ns2:entitlementPeriod" />
              <xsd:element minOccurs="0" name="equipmentGroupIdentifier" type="ns2:equipmentGroupIdentifier" />
              <xsd:element minOccurs="0" name="farDistrict" type="ns2:farDistrict" />
              <xsd:element minOccurs="0" name="freightValue" type="ns2:freightValue" />
              <xsd:element minOccurs="0" name="freightValueSecondaryCurrency" type="ns2:freightValueSecondaryCurrency" />
              <xsd:element minOccurs="0" name="holdingBinCode" type="ns2:holdingBinCode" />
              <xsd:element minOccurs="0" name="holdingWarehouseId" type="ns2:holdingWarehouseId" />
              <xsd:element minOccurs="0" name="idtDeployedSystemIssueReqStatus" type="ns2:idtDeployedSystemIssueReqStatus" />
              <xsd:element minOccurs="0" name="inabilityDate" type="ns2:inabilityDate" />
              <xsd:element minOccurs="0" name="inabilityReason" type="ns2:inabilityReason" />
              <xsd:element minOccurs="0" name="intransitInd" type="ns2:intransitInd" />
              <xsd:element minOccurs="0" name="inventoryCategory" type="ns2:inventoryCategory" />
              <xsd:element minOccurs="0" name="inventoryValue" type="ns2:inventoryValue" />
              <xsd:element minOccurs="0" name="inventoryValueSecondaryCurrency" type="ns2:inventoryValueSecondaryCurrency" />
              <xsd:element minOccurs="0" name="isImmediateIssueReturn" type="ns2:isImmediateIssueReturn" />
              <xsd:element minOccurs="0" name="isNewWaybill" type="ns2:isNewWaybill" />
              <xsd:element minOccurs="0" name="issueDistrictCode" type="ns2:issueDistrictCode" />
              <xsd:element minOccurs="0" name="issueRequisitionInformationDTO" type="ns2:IssueRequisitionInformationDTO" />
              <xsd:element minOccurs="0" name="issueRequisitionItem" type="ns2:issueRequisitionItem" />
              <xsd:element minOccurs="0" name="issueRequisitionNumber" type="ns2:issueRequisitionNumber" />
              <xsd:element minOccurs="0" name="issuedBy" type="ns2:issuedBy" />
              <xsd:element minOccurs="0" name="issuedDate" type="ns2:issuedDate" />
              <xsd:element minOccurs="0" name="item141Status" type="ns2:item141Status" />
              <xsd:element minOccurs="0" name="item141StatusDescription" type="ns2:item141StatusDescription" />
              <xsd:element minOccurs="0" name="itemPrice" type="ns2:itemPrice" />
              <xsd:element minOccurs="0" name="lastAcquittedDate" type="ns2:lastAcquittedDate" />
              <xsd:element minOccurs="0" name="leadTimeCompleteSwitch" type="ns2:leadTimeCompleteSwitch" />
              <xsd:element minOccurs="0" name="loanReturnReq" type="ns2:loanReturnReq" />
              <xsd:element minOccurs="0" name="noPrintInd" type="ns2:noPrintInd" />
              <xsd:element minOccurs="0" name="orderStatus" type="ns2:orderStatus" />
              <xsd:element minOccurs="0" name="originalStockCode" type="ns2:originalStockCode" />
              <xsd:element minOccurs="0" name="partIssueAcceptable" type="ns2:partIssueAcceptable" />
              <xsd:element minOccurs="0" name="purchaseOrderItemNumber" type="ns2:purchaseOrderItemNumber" />
              <xsd:element minOccurs="0" name="purchaseOrderNumber" type="ns2:purchaseOrderNumber" />
              <xsd:element minOccurs="0" name="quantityIssued" type="ns2:quantityIssued" />
              <xsd:element minOccurs="0" name="quantityIssuedInExcess" type="ns2:quantityIssuedInExcess" />
              <xsd:element minOccurs="0" name="quantityIssuedOnConsignment" type="ns2:quantityIssuedOnConsignment" />
              <xsd:element minOccurs="0" name="quantityOutstanding" type="ns2:quantityOutstanding" />
              <xsd:element minOccurs="0" name="quantityReactivated" type="ns2:quantityReactivated" />
              <xsd:element minOccurs="0" name="quantityReceived" type="ns2:quantityReceived" />
              <xsd:element minOccurs="0" name="quantityReceivedConsignment" type="ns2:quantityReceivedConsignment" />
              <xsd:element minOccurs="0" name="quantityReceivedInDistrict" type="ns2:quantityReceivedInDistrict" />
              <xsd:element minOccurs="0" name="quantityRequired" type="ns2:quantityRequired" />
              <xsd:element minOccurs="0" name="quantityReturned" type="ns2:quantityReturned" />
              <xsd:element minOccurs="0" name="repairRequestFlag" type="ns2:repairRequestFlag" />
              <xsd:element minOccurs="0" name="requiredByDate" type="ns2:requiredByDate" />
              <xsd:element minOccurs="0" name="reversedPeriodStartDate" type="ns2:reversedPeriodStartDate" />
              <xsd:element minOccurs="0" name="sequenceNumber" type="ns2:sequenceNumber" />
              <xsd:element minOccurs="0" name="statisticsUpdatedInd" type="ns2:statisticsUpdatedInd" />
              <xsd:element minOccurs="0" name="stockcode" type="ns2:stockcode" />
              <xsd:element minOccurs="0" name="storesSalePrice" type="ns2:storesSalePrice" />
              <xsd:element minOccurs="0" name="surveyItem" type="ns2:surveyItem" />
              <xsd:element minOccurs="0" name="totalQuantityRequired" type="ns2:totalQuantityRequired" />
              <xsd:element minOccurs="0" name="transaction900Key" type="ns2:transaction900Key" />
              <xsd:element minOccurs="0" name="valueIssuedToDistrict" type="ns2:valueIssuedToDistrict" />
              <xsd:element minOccurs="0" name="valueReceivedInDistrict" type="ns2:valueReceivedInDistrict" />
              <xsd:element minOccurs="0" name="warehouseId" type="ns2:warehouseId" />
              <xsd:element minOccurs="0" name="waybillItemNo" type="ns2:waybillItemNo" />
              <xsd:element minOccurs="0" name="waybillNo" type="ns2:waybillNo" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:simpleType name="requisitionType">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="requestedBySupplyCustomer">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="requisitionRequestedBy">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="requisitionPriority">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="requisitionDeliveryLocation">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="IssueRequisitionInformationDTO">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns3:ServiceDTO">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="requestedByEmployee" type="ns2:requestedByEmployee" />
              <xsd:element minOccurs="0" name="requestedBySupplyCustomer" type="ns2:requestedBySupplyCustomer" />
              <xsd:element minOccurs="0" name="requisitionDeliveryLocation" type="ns2:requisitionDeliveryLocation" />
              <xsd:element minOccurs="0" name="requisitionPriority" type="ns2:requisitionPriority" />
              <xsd:element minOccurs="0" name="requisitionRequestedBy" type="ns2:requisitionRequestedBy" />
              <xsd:element minOccurs="0" name="requisitionType" type="ns2:requisitionType" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="IssueRequisitionItemStocklessAcknowledgeServiceResult">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns3:ServiceResult">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="issueRequisitionItemStocklessAcknowledgeDTO" type="ns2:IssueRequisitionItemStocklessAcknowledgeDTO" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfIssueRequisitionItemStocklessDTO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="IssueRequisitionItemStocklessDTO" nillable="true" type="ns2:IssueRequisitionItemStocklessDTO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfIssueRequisitionItemStocklessServiceResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="IssueRequisitionItemStocklessServiceResult" nillable="true" type="ns2:IssueRequisitionItemStocklessServiceResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="IssueRequisitionItemStocklessServiceResult">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns3:ServiceResult">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="issueRequisitionItemStocklessDTO" type="ns2:IssueRequisitionItemStocklessDTO" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:simpleType name="hasInterdistrictAccess">
        <xsd:restriction base="xsd:boolean" />
      </xsd:simpleType>
      <xsd:complexType name="ImmediateReadDTO">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns3:ServiceDTO">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="costCodex1" type="ns2:costCodex1" />
              <xsd:element minOccurs="0" name="costCodex2" type="ns2:costCodex2" />
              <xsd:element minOccurs="0" name="costingDistrictCodex1" type="ns2:costingDistrictCodex1" />
              <xsd:element minOccurs="0" name="costingDistrictCodex2" type="ns2:costingDistrictCodex2" />
              <xsd:element minOccurs="0" name="districtCode" type="ns2:districtCode" />
              <xsd:element minOccurs="0" name="hasInterdistrictAccess" type="ns2:hasInterdistrictAccess" />
              <xsd:element minOccurs="0" name="isIssue" type="ns2:isIssue" />
              <xsd:element minOccurs="0" name="requestedByEmployee" type="ns2:requestedByEmployee" />
              <xsd:element minOccurs="0" name="requestedBySupplyCustomerAccountId" type="ns2:requestedBySupplyCustomerAccountId" />
              <xsd:element minOccurs="0" name="warehouseId" type="ns2:warehouseId" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ImmediateReadServiceResult">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns3:ServiceResult">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="immediateReadDTO" type="ns2:ImmediateReadDTO" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfIssueRequisitionItemStocklessAcknowledgeDTO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="IssueRequisitionItemStocklessAcknowledgeDTO" nillable="true" type="ns2:IssueRequisitionItemStocklessAcknowledgeDTO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfIssueRequisitionItemStocklessAcknowledgeServiceResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="IssueRequisitionItemStocklessAcknowledgeServiceResult" nillable="true" type="ns2:IssueRequisitionItemStocklessAcknowledgeServiceResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfImmediateReadDTO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ImmediateReadDTO" nillable="true" type="ns2:ImmediateReadDTO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfImmediateReadServiceResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ImmediateReadServiceResult" nillable="true" type="ns2:ImmediateReadServiceResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="waybillNumber">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ImmediateIssueStocklessDTO">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns2:ImmediateDTO">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="acknowledgeType" type="ns2:acknowledgeType" />
              <xsd:element minOccurs="0" name="goodsHoldingBinCode" type="ns2:goodsHoldingBinCode" />
              <xsd:element minOccurs="0" name="goodsHoldingDistrictCode" type="ns2:goodsHoldingDistrictCode" />
              <xsd:element minOccurs="0" name="goodsHoldingWarehouseId" type="ns2:goodsHoldingWarehouseId" />
              <xsd:element minOccurs="0" name="waybillCurrentLocation" type="ns2:waybillCurrentLocation" />
              <xsd:element minOccurs="0" name="waybillNumber" type="ns2:waybillNumber" />
              <xsd:element minOccurs="0" name="waybillNumberOfUnits" type="ns2:waybillNumberOfUnits" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ImmediateIssueStocklessServiceResult">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns3:ServiceResult">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="immediateIssueStocklessDTO" type="ns2:ImmediateIssueStocklessDTO" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ImmediateSearchParam">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns3:AbstractSearchParam">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="districtCode" type="ns2:districtCode" />
              <xsd:element minOccurs="0" name="isIssue" type="ns2:isIssue" />
              <xsd:element minOccurs="0" name="requestedByEmployee" type="ns2:requestedByEmployee" />
              <xsd:element minOccurs="0" name="requestedBySupplyCustomerAccountId" type="ns2:requestedBySupplyCustomerAccountId" />
              <xsd:element minOccurs="0" name="warehouseId" type="ns2:warehouseId" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfImmediateServiceResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ImmediateServiceResult" nillable="true" type="ns2:ImmediateServiceResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ImmediateServiceResult">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns3:ServiceResult">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="immediateDTO" type="ns2:ImmediateDTO" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfHoldingDetailsServiceResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="HoldingDetailsServiceResult" nillable="true" type="ns2:HoldingDetailsServiceResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="HoldingDetailsServiceResult">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns3:ServiceResult">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="holdingDetailsDTO" type="ns2:HoldingDetailsDTO" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:simpleType name="defaultQuantityAcknowledged">
        <xsd:restriction base="xsd:boolean" />
      </xsd:simpleType>
      <xsd:simpleType name="issueRequisitionItemFrom">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="issueRequisitionItemTo">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="IssueRequisitionItemStocklessSearchParam">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns3:AbstractSearchParam">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="defaultQuantityAcknowledged" type="ns2:defaultQuantityAcknowledged" />
              <xsd:element minOccurs="0" name="districtCode" type="ns2:districtCode" />
              <xsd:element minOccurs="0" name="issueRequisitionItemFrom" type="ns2:issueRequisitionItemFrom" />
              <xsd:element minOccurs="0" name="issueRequisitionItemTo" type="ns2:issueRequisitionItemTo" />
              <xsd:element minOccurs="0" name="issueRequisitionNumber" type="ns2:issueRequisitionNumber" />
              <xsd:element minOccurs="0" name="supplierNumber" type="ns2:supplierNumber" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfImmediateIssueStocklessDTO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ImmediateIssueStocklessDTO" nillable="true" type="ns2:ImmediateIssueStocklessDTO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfImmediateIssueStocklessServiceResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ImmediateIssueStocklessServiceResult" nillable="true" type="ns2:ImmediateIssueStocklessServiceResult" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.ellipse.mincom.com">
      <xsd:import namespace="http://errors.ellipse.mincom.com" />
      <xsd:import namespace="http://instances.base.types.ellipse.mincom.com" />
      <xsd:import namespace="http://attribute.ellipse.mincom.com" />
      <xsd:complexType name="ServiceDTO" abstract="true">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns4:Base">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="customAttributes" type="ns5:ArrayOfAttribute" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ServiceResult">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns3:BaseServiceResult" />
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="BaseServiceResult" abstract="true">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="errors" type="ns6:ArrayOfError" />
          <xsd:element minOccurs="0" name="informationalMessages" type="ns6:ArrayOfMessage" />
          <xsd:element minOccurs="0" name="warnings" type="ns6:ArrayOfWarning" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AbstractSearchParam" abstract="true">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns3:ServiceDTO" />
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://instances.base.types.ellipse.mincom.com">
      <xsd:complexType name="Base" abstract="true" />
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://attribute.ellipse.mincom.com">
      <xsd:complexType name="ArrayOfAttribute">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Attribute" nillable="true" type="ns5:Attribute" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Attribute">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="value" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://issuerequisitionitemstockless.m3140.service.ellipse.mincom.com">
      <xsd:import namespace="http://connectivity.service.ews.mincom.com" />
      <xsd:import namespace="http://instances.m3140.types.ellipse.mincom.com" />
      <xsd:element name="multipleImmediateReturn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="inputDtos" nillable="true" type="ns2:ArrayOfImmediateReturnStocklessDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleImmediateReturnResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns2:ArrayOfImmediateReturnStocklessServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="acknowledge">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="serviceDTO" nillable="true" type="ns2:IssueRequisitionItemStocklessAcknowledgeDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="acknowledgeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns2:IssueRequisitionItemStocklessAcknowledgeServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleClose">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="inputDtos" nillable="true" type="ns2:ArrayOfIssueRequisitionItemStocklessDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleCloseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns2:ArrayOfIssueRequisitionItemStocklessServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="immediateRead">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="serviceDTO" nillable="true" type="ns2:ImmediateReadDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="immediateReadResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns2:ImmediateReadServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleAcknowledge">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="inputDtos" nillable="true" type="ns2:ArrayOfIssueRequisitionItemStocklessAcknowledgeDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleAcknowledgeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns2:ArrayOfIssueRequisitionItemStocklessAcknowledgeServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleImmediateRead">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="inputDtos" nillable="true" type="ns2:ArrayOfImmediateReadDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleImmediateReadResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns2:ArrayOfImmediateReadServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="immediateIssue">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="serviceDTO" nillable="true" type="ns2:ImmediateIssueStocklessDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="immediateIssueResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns2:ImmediateIssueStocklessServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="immediateReturn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="serviceDTO" nillable="true" type="ns2:ImmediateReturnStocklessDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="immediateReturnResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns2:ImmediateReturnStocklessServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="immediateSearch">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="searchParams" nillable="true" type="ns2:ImmediateSearchParam" />
            <xsd:element minOccurs="1" maxOccurs="1" name="restart" nillable="true" type="ns2:ImmediateDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="immediateSearchResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns2:ArrayOfImmediateServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="close">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="serviceDTO" nillable="true" type="ns2:IssueRequisitionItemStocklessDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="closeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns2:IssueRequisitionItemStocklessServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="immediateSearchHoldings">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="searchParams" nillable="true" type="ns2:ImmediateSearchParam" />
            <xsd:element minOccurs="1" maxOccurs="1" name="restart" nillable="true" type="ns2:HoldingDetailsDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="immediateSearchHoldingsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns2:ArrayOfHoldingDetailsServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleRead">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="inputDtos" nillable="true" type="ns2:ArrayOfIssueRequisitionItemStocklessDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleReadResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns2:ArrayOfIssueRequisitionItemStocklessServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="search">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="searchParams" nillable="true" type="ns2:IssueRequisitionItemStocklessSearchParam" />
            <xsd:element minOccurs="1" maxOccurs="1" name="restart" nillable="true" type="ns2:IssueRequisitionItemStocklessDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns2:ArrayOfIssueRequisitionItemStocklessServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="serviceDTO" nillable="true" type="ns2:IssueRequisitionItemStocklessDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="readResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns2:IssueRequisitionItemStocklessServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleImmediateIssue">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="inputDtos" nillable="true" type="ns2:ArrayOfImmediateIssueStocklessDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleImmediateIssueResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns2:ArrayOfImmediateIssueStocklessServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://errors.ellipse.mincom.com">
      <xsd:complexType name="ArrayOfMessage">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="ns6:Message" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Message">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="fieldId" type="xsd:string" />
          <xsd:element minOccurs="0" name="fieldIndex" type="xsd:int" />
          <xsd:element minOccurs="0" name="messageId" type="xsd:string" />
          <xsd:element minOccurs="0" name="messageInstance" type="xsd:string" />
          <xsd:element minOccurs="0" name="messageText" type="xsd:string" />
          <xsd:element minOccurs="0" name="parentInstance" type="xsd:string" />
          <xsd:element minOccurs="0" name="user" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfWarning">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Warning" nillable="true" type="ns6:Warning" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Warning">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns6:Message" />
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfError">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Error" nillable="true" type="ns6:Error" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Error">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns6:Message" />
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="readResponse">
    <wsdl:part name="parameters" element="tns:readResponse" />
  </wsdl:message>
  <wsdl:message name="immediateSearchRequest">
    <wsdl:part name="parameters" element="tns:immediateSearch" />
  </wsdl:message>
  <wsdl:message name="closeResponse">
    <wsdl:part name="parameters" element="tns:closeResponse" />
  </wsdl:message>
  <wsdl:message name="multipleImmediateReturnRequest">
    <wsdl:part name="parameters" element="tns:multipleImmediateReturn" />
  </wsdl:message>
  <wsdl:message name="immediateSearchResponse">
    <wsdl:part name="parameters" element="tns:immediateSearchResponse" />
  </wsdl:message>
  <wsdl:message name="immediateSearchHoldingsRequest">
    <wsdl:part name="parameters" element="tns:immediateSearchHoldings" />
  </wsdl:message>
  <wsdl:message name="multipleAcknowledgeRequest">
    <wsdl:part name="parameters" element="tns:multipleAcknowledge" />
  </wsdl:message>
  <wsdl:message name="immediateReturnResponse">
    <wsdl:part name="parameters" element="tns:immediateReturnResponse" />
  </wsdl:message>
  <wsdl:message name="immediateSearchHoldingsResponse">
    <wsdl:part name="parameters" element="tns:immediateSearchHoldingsResponse" />
  </wsdl:message>
  <wsdl:message name="immediateIssueRequest">
    <wsdl:part name="parameters" element="tns:immediateIssue" />
  </wsdl:message>
  <wsdl:message name="multipleCloseRequest">
    <wsdl:part name="parameters" element="tns:multipleClose" />
  </wsdl:message>
  <wsdl:message name="multipleReadResponse">
    <wsdl:part name="parameters" element="tns:multipleReadResponse" />
  </wsdl:message>
  <wsdl:message name="multipleImmediateIssueRequest">
    <wsdl:part name="parameters" element="tns:multipleImmediateIssue" />
  </wsdl:message>
  <wsdl:message name="immediateReturnRequest">
    <wsdl:part name="parameters" element="tns:immediateReturn" />
  </wsdl:message>
  <wsdl:message name="readRequest">
    <wsdl:part name="parameters" element="tns:read" />
  </wsdl:message>
  <wsdl:message name="closeRequest">
    <wsdl:part name="parameters" element="tns:close" />
  </wsdl:message>
  <wsdl:message name="acknowledgeRequest">
    <wsdl:part name="parameters" element="tns:acknowledge" />
  </wsdl:message>
  <wsdl:message name="multipleImmediateReadRequest">
    <wsdl:part name="parameters" element="tns:multipleImmediateRead" />
  </wsdl:message>
  <wsdl:message name="multipleImmediateIssueResponse">
    <wsdl:part name="parameters" element="tns:multipleImmediateIssueResponse" />
  </wsdl:message>
  <wsdl:message name="acknowledgeResponse">
    <wsdl:part name="parameters" element="tns:acknowledgeResponse" />
  </wsdl:message>
  <wsdl:message name="multipleImmediateReadResponse">
    <wsdl:part name="parameters" element="tns:multipleImmediateReadResponse" />
  </wsdl:message>
  <wsdl:message name="multipleImmediateReturnResponse">
    <wsdl:part name="parameters" element="tns:multipleImmediateReturnResponse" />
  </wsdl:message>
  <wsdl:message name="multipleAcknowledgeResponse">
    <wsdl:part name="parameters" element="tns:multipleAcknowledgeResponse" />
  </wsdl:message>
  <wsdl:message name="immediateReadResponse">
    <wsdl:part name="parameters" element="tns:immediateReadResponse" />
  </wsdl:message>
  <wsdl:message name="immediateIssueResponse">
    <wsdl:part name="parameters" element="tns:immediateIssueResponse" />
  </wsdl:message>
  <wsdl:message name="immediateReadRequest">
    <wsdl:part name="parameters" element="tns:immediateRead" />
  </wsdl:message>
  <wsdl:message name="searchRequest">
    <wsdl:part name="parameters" element="tns:search" />
  </wsdl:message>
  <wsdl:message name="multipleCloseResponse">
    <wsdl:part name="parameters" element="tns:multipleCloseResponse" />
  </wsdl:message>
  <wsdl:message name="searchResponse">
    <wsdl:part name="parameters" element="tns:searchResponse" />
  </wsdl:message>
  <wsdl:message name="multipleReadRequest">
    <wsdl:part name="parameters" element="tns:multipleRead" />
  </wsdl:message>
  <wsdl:portType name="IssueRequisitionItemStockless">
    <wsdl:operation name="multipleImmediateReturn">
      <wsdl:input name="multipleImmediateReturnRequest" message="tns:multipleImmediateReturnRequest" />
      <wsdl:output name="multipleImmediateReturnResponse" message="tns:multipleImmediateReturnResponse" />
    </wsdl:operation>
    <wsdl:operation name="acknowledge">
      <wsdl:input name="acknowledgeRequest" message="tns:acknowledgeRequest" />
      <wsdl:output name="acknowledgeResponse" message="tns:acknowledgeResponse" />
    </wsdl:operation>
    <wsdl:operation name="multipleClose">
      <wsdl:input name="multipleCloseRequest" message="tns:multipleCloseRequest" />
      <wsdl:output name="multipleCloseResponse" message="tns:multipleCloseResponse" />
    </wsdl:operation>
    <wsdl:operation name="immediateRead">
      <wsdl:input name="immediateReadRequest" message="tns:immediateReadRequest" />
      <wsdl:output name="immediateReadResponse" message="tns:immediateReadResponse" />
    </wsdl:operation>
    <wsdl:operation name="multipleAcknowledge">
      <wsdl:input name="multipleAcknowledgeRequest" message="tns:multipleAcknowledgeRequest" />
      <wsdl:output name="multipleAcknowledgeResponse" message="tns:multipleAcknowledgeResponse" />
    </wsdl:operation>
    <wsdl:operation name="multipleImmediateRead">
      <wsdl:input name="multipleImmediateReadRequest" message="tns:multipleImmediateReadRequest" />
      <wsdl:output name="multipleImmediateReadResponse" message="tns:multipleImmediateReadResponse" />
    </wsdl:operation>
    <wsdl:operation name="immediateIssue">
      <wsdl:input name="immediateIssueRequest" message="tns:immediateIssueRequest" />
      <wsdl:output name="immediateIssueResponse" message="tns:immediateIssueResponse" />
    </wsdl:operation>
    <wsdl:operation name="immediateReturn">
      <wsdl:input name="immediateReturnRequest" message="tns:immediateReturnRequest" />
      <wsdl:output name="immediateReturnResponse" message="tns:immediateReturnResponse" />
    </wsdl:operation>
    <wsdl:operation name="immediateSearch">
      <wsdl:input name="immediateSearchRequest" message="tns:immediateSearchRequest" />
      <wsdl:output name="immediateSearchResponse" message="tns:immediateSearchResponse" />
    </wsdl:operation>
    <wsdl:operation name="close">
      <wsdl:input name="closeRequest" message="tns:closeRequest" />
      <wsdl:output name="closeResponse" message="tns:closeResponse" />
    </wsdl:operation>
    <wsdl:operation name="immediateSearchHoldings">
      <wsdl:input name="immediateSearchHoldingsRequest" message="tns:immediateSearchHoldingsRequest" />
      <wsdl:output name="immediateSearchHoldingsResponse" message="tns:immediateSearchHoldingsResponse" />
    </wsdl:operation>
    <wsdl:operation name="multipleRead">
      <wsdl:input name="multipleReadRequest" message="tns:multipleReadRequest" />
      <wsdl:output name="multipleReadResponse" message="tns:multipleReadResponse" />
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdl:input name="searchRequest" message="tns:searchRequest" />
      <wsdl:output name="searchResponse" message="tns:searchResponse" />
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdl:input name="readRequest" message="tns:readRequest" />
      <wsdl:output name="readResponse" message="tns:readResponse" />
    </wsdl:operation>
    <wsdl:operation name="multipleImmediateIssue">
      <wsdl:input name="multipleImmediateIssueRequest" message="tns:multipleImmediateIssueRequest" />
      <wsdl:output name="multipleImmediateIssueResponse" message="tns:multipleImmediateIssueResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IssueRequisitionItemStocklessServiceHttpBinding" type="tns:IssueRequisitionItemStockless">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="multipleImmediateReturn">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="multipleImmediateReturnRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="multipleImmediateReturnResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acknowledge">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="acknowledgeRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="acknowledgeResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleClose">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="multipleCloseRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="multipleCloseResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="immediateRead">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="immediateReadRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="immediateReadResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleAcknowledge">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="multipleAcknowledgeRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="multipleAcknowledgeResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleImmediateRead">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="multipleImmediateReadRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="multipleImmediateReadResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="immediateIssue">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="immediateIssueRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="immediateIssueResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="immediateReturn">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="immediateReturnRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="immediateReturnResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="immediateSearch">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="immediateSearchRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="immediateSearchResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="close">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="closeRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="closeResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="immediateSearchHoldings">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="immediateSearchHoldingsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="immediateSearchHoldingsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleRead">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="multipleReadRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="multipleReadResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="searchRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="readRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="readResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleImmediateIssue">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="multipleImmediateIssueRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="multipleImmediateIssueResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IssueRequisitionItemStocklessService">
    <wsdl:port name="IssueRequisitionItemStocklessServiceHttpPort" binding="tns:IssueRequisitionItemStocklessServiceHttpBinding">
      <wsdlsoap:address location="http://ews-el8prod.lmnerp01.cerrejon.com/ews/services/IssueRequisitionItemStocklessService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>