Java/MSE020Modify/src/META-INF/wsdl/ews-el8desa.lmnerp03.cerrejon.com/ews/services/SecurityClassService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://securityclass.ellipse.enterpriseservice.mincom.com" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:ns2="http://ellipse.enterpriseservice.mincom.com" xmlns:ns1="http://connectivity.service.ews.mincom.com" xmlns:ns4="http://exception.enterpriseservice.mincom.com" xmlns:ns3="http://attribute.ellipse.mincom.com" xmlns:tns="http://securityclass.ellipse.enterpriseservice.mincom.com" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://connectivity.service.ews.mincom.com">
<xsd:complexType name="OperationContext">
<xsd:sequence>
<xsd:element minOccurs="0" name="district" type="xsd:string"/>
<xsd:element minOccurs="0" name="maxInstances" type="xsd:int"/>
<xsd:element minOccurs="0" name="position" type="xsd:string"/>
<xsd:element minOccurs="0" name="returnWarnings" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="runAs" type="ns1:RunAs"/>
<xsd:element minOccurs="0" name="trace" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="transaction" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="RunAs">
<xsd:sequence>
<xsd:element minOccurs="0" name="district" type="xsd:string"/>
<xsd:element minOccurs="0" name="position" type="xsd:string"/>
<xsd:element minOccurs="0" name="user" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://securityclass.ellipse.enterpriseservice.mincom.com">
<xsd:import namespace="http://connectivity.service.ews.mincom.com"/>
<xsd:import namespace="http://exception.enterpriseservice.mincom.com"/>
<xsd:import namespace="http://ellipse.enterpriseservice.mincom.com"/>
<xsd:complexType name="ArrayOfSecurityClassServiceModifyRequestDTO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="SecurityClassServiceModifyRequestDTO" nillable="true" type="tns:SecurityClassServiceModifyRequestDTO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="districtCode">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
<xsd:minLength value="0"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="profileType">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
<xsd:minLength value="0"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="className">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="50"/>
<xsd:minLength value="0"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="profileName">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
<xsd:minLength value="0"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="accessLevel">
<xsd:restriction base="xsd:decimal">
<xsd:fractionDigits value="0"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="SecurityClassServiceModifyRequestDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="accessLevel" type="tns:accessLevel"/>
<xsd:element minOccurs="0" name="className" type="tns:className"/>
<xsd:element minOccurs="0" name="districtCode" type="tns:districtCode"/>
<xsd:element minOccurs="0" name="profileName" type="tns:profileName"/>
<xsd:element minOccurs="0" name="profileType" type="tns:profileType"/>
<xsd:element minOccurs="0" name="requiredAttributes" type="tns:SecurityClassServiceModifyRequiredAttributesDTO"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SecurityClassServiceModifyRequiredAttributesDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractRequiredAttributesDTO"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="multipleModify">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
<xsd:element maxOccurs="1" minOccurs="1" name="requestParameters" nillable="true" type="tns:ArrayOfSecurityClassServiceModifyRequestDTO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SecurityClassServiceModifyReplyCollectionDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractReplyCollectionDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="replyElements" type="tns:ArrayOfSecurityClassServiceModifyReplyDTO"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ArrayOfSecurityClassServiceModifyReplyDTO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="SecurityClassServiceModifyReplyDTO" nillable="true" type="tns:SecurityClassServiceModifyReplyDTO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SecurityClassServiceModifyReplyDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractReplyDTO"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="multipleModifyResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:SecurityClassServiceModifyReplyCollectionDTO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EnterpriseServiceOperationException" type="ns4:EnterpriseServiceOperationException"/>
<xsd:complexType name="SecurityClassServiceModifyMethodsRequestDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="accessLevel" type="tns:accessLevel"/>
<xsd:element minOccurs="0" name="className" type="tns:className"/>
<xsd:element minOccurs="0" name="districtCode" type="tns:districtCode"/>
<xsd:element minOccurs="0" name="profileName" type="tns:profileName"/>
<xsd:element minOccurs="0" name="profileType" type="tns:profileType"/>
<xsd:element minOccurs="0" name="requiredAttributes" type="tns:SecurityClassServiceModifyMethodsRequiredAttributesDTO"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SecurityClassServiceModifyMethodsRequiredAttributesDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractRequiredAttributesDTO"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="modifyMethods">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
<xsd:element maxOccurs="1" minOccurs="1" name="requestParameters" nillable="true" type="tns:SecurityClassServiceModifyMethodsRequestDTO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SecurityClassServiceModifyMethodsReplyDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractReplyDTO"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="modifyMethodsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:SecurityClassServiceModifyMethodsReplyDTO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="ArrayOfSecurityClassServiceReadRequestDTO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="SecurityClassServiceReadRequestDTO" nillable="true" type="tns:SecurityClassServiceReadRequestDTO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SecurityClassServiceReadRequestDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="className" type="tns:className"/>
<xsd:element minOccurs="0" name="districtCode" type="tns:districtCode"/>
<xsd:element minOccurs="0" name="profileName" type="tns:profileName"/>
<xsd:element minOccurs="0" name="profileType" type="tns:profileType"/>
<xsd:element minOccurs="0" name="requiredAttributes" type="tns:SecurityClassServiceReadRequiredAttributesDTO"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SecurityClassServiceReadRequiredAttributesDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractRequiredAttributesDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="returnAccessLevel" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="returnClassName" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="returnDistrictCode" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="returnNoSecurityFlag" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="returnProfileName" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="returnProfileType" type="xsd:boolean"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="multipleRead">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
<xsd:element maxOccurs="1" minOccurs="1" name="requestParameters" nillable="true" type="tns:ArrayOfSecurityClassServiceReadRequestDTO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SecurityClassServiceReadReplyCollectionDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractReplyCollectionDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="replyElements" type="tns:ArrayOfSecurityClassServiceReadReplyDTO"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ArrayOfSecurityClassServiceReadReplyDTO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="SecurityClassServiceReadReplyDTO" nillable="true" type="tns:SecurityClassServiceReadReplyDTO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="noSecurityFlag">
<xsd:restriction base="xsd:boolean"/>
</xsd:simpleType>
<xsd:complexType name="SecurityClassServiceReadReplyDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractReplyDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="accessLevel" type="tns:accessLevel"/>
<xsd:element minOccurs="0" name="className" type="tns:className"/>
<xsd:element minOccurs="0" name="districtCode" type="tns:districtCode"/>
<xsd:element minOccurs="0" name="noSecurityFlag" type="tns:noSecurityFlag"/>
<xsd:element minOccurs="0" name="profileName" type="tns:profileName"/>
<xsd:element minOccurs="0" name="profileType" type="tns:profileType"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="multipleReadResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:SecurityClassServiceReadReplyCollectionDTO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:simpleType name="attAccessLevel">
<xsd:restriction base="xsd:decimal">
<xsd:fractionDigits value="0"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="SecurityClassServiceModifyAttributesRequestDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="attAccessLevel" type="tns:attAccessLevel"/>
<xsd:element minOccurs="0" name="className" type="tns:className"/>
<xsd:element minOccurs="0" name="districtCode" type="tns:districtCode"/>
<xsd:element minOccurs="0" name="profileName" type="tns:profileName"/>
<xsd:element minOccurs="0" name="profileType" type="tns:profileType"/>
<xsd:element minOccurs="0" name="requiredAttributes" type="tns:SecurityClassServiceModifyAttributesRequiredAttributesDTO"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SecurityClassServiceModifyAttributesRequiredAttributesDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractRequiredAttributesDTO"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="modifyAttributes">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
<xsd:element maxOccurs="1" minOccurs="1" name="requestParameters" nillable="true" type="tns:SecurityClassServiceModifyAttributesRequestDTO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SecurityClassServiceModifyAttributesReplyDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractReplyDTO"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="modifyAttributesResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:SecurityClassServiceModifyAttributesReplyDTO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="multipleReadWithPartialResults">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
<xsd:element maxOccurs="1" minOccurs="1" name="requestParameters" nillable="true" type="tns:ArrayOfSecurityClassServiceReadRequestDTO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="multipleReadWithPartialResultsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:SecurityClassServiceReadReplyCollectionDTO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:simpleType name="appName">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6"/>
<xsd:minLength value="0"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="appType">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
<xsd:minLength value="0"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="SecurityClassServiceRetrieveClassesRequestDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="appName" type="tns:appName"/>
<xsd:element minOccurs="0" name="appType" type="tns:appType"/>
<xsd:element minOccurs="0" name="districtCode" type="tns:districtCode"/>
<xsd:element minOccurs="0" name="profileName" type="tns:profileName"/>
<xsd:element minOccurs="0" name="profileType" type="tns:profileType"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SecurityClassServiceRetrieveClassesRequiredAttributesDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractRequiredAttributesDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="returnAccessLevel" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="returnAppDesc" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="returnAppName" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="returnAppType" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="returnClassName" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="returnDistrictCode" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="returnMaxAccessLevel" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="returnPrimaryFlag" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="returnProfileName" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="returnProfileType" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="returnRefcodeEntity" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="returnReviewFlag" type="xsd:boolean"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="retrieveClasses">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
<xsd:element maxOccurs="1" minOccurs="1" name="requestParameters" nillable="true" type="tns:SecurityClassServiceRetrieveClassesRequestDTO"/>
<xsd:element maxOccurs="1" minOccurs="1" name="requiredAttributes" nillable="true" type="tns:SecurityClassServiceRetrieveClassesRequiredAttributesDTO"/>
<xsd:element maxOccurs="1" minOccurs="1" name="restartInfo" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SecurityClassServiceRetrieveClassesReplyCollectionDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractReplyCollectionDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="replyElements" type="tns:ArrayOfSecurityClassServiceRetrieveClassesReplyDTO"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ArrayOfSecurityClassServiceRetrieveClassesReplyDTO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="SecurityClassServiceRetrieveClassesReplyDTO" nillable="true" type="tns:SecurityClassServiceRetrieveClassesReplyDTO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="appDesc">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="50"/>
<xsd:minLength value="0"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="reviewFlag">
<xsd:restriction base="xsd:boolean"/>
</xsd:simpleType>
<xsd:simpleType name="maxAccessLevel">
<xsd:restriction base="xsd:decimal">
<xsd:fractionDigits value="0"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="primaryFlag">
<xsd:restriction base="xsd:boolean"/>
</xsd:simpleType>
<xsd:simpleType name="refcodeEntity">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
<xsd:minLength value="0"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="SecurityClassServiceRetrieveClassesReplyDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractReplyDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="accessLevel" type="tns:accessLevel"/>
<xsd:element minOccurs="0" name="appDesc" type="tns:appDesc"/>
<xsd:element minOccurs="0" name="appName" type="tns:appName"/>
<xsd:element minOccurs="0" name="appType" type="tns:appType"/>
<xsd:element minOccurs="0" name="className" type="tns:className"/>
<xsd:element minOccurs="0" name="districtCode" type="tns:districtCode"/>
<xsd:element minOccurs="0" name="maxAccessLevel" type="tns:maxAccessLevel"/>
<xsd:element minOccurs="0" name="primaryFlag" type="tns:primaryFlag"/>
<xsd:element minOccurs="0" name="profileName" type="tns:profileName"/>
<xsd:element minOccurs="0" name="profileType" type="tns:profileType"/>
<xsd:element minOccurs="0" name="refcodeEntity" type="tns:refcodeEntity"/>
<xsd:element minOccurs="0" name="reviewFlag" type="tns:reviewFlag"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="retrieveClassesResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:SecurityClassServiceRetrieveClassesReplyCollectionDTO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SecurityClassServiceRetrieveRequestDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="districtCode" type="tns:districtCode"/>
<xsd:element minOccurs="0" name="profileName" type="tns:profileName"/>
<xsd:element minOccurs="0" name="profileType" type="tns:profileType"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SecurityClassServiceRetrieveRequiredAttributesDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractRequiredAttributesDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="returnAccessLevel" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="returnClassDesc" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="returnClassName" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="returnDistrictCode" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="returnNoSecurityFlag" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="returnProfileName" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="returnProfileType" type="xsd:boolean"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="retrieve">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
<xsd:element maxOccurs="1" minOccurs="1" name="requestParameters" nillable="true" type="tns:SecurityClassServiceRetrieveRequestDTO"/>
<xsd:element maxOccurs="1" minOccurs="1" name="requiredAttributes" nillable="true" type="tns:SecurityClassServiceRetrieveRequiredAttributesDTO"/>
<xsd:element maxOccurs="1" minOccurs="1" name="restartInfo" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SecurityClassServiceRetrieveReplyCollectionDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractReplyCollectionDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="replyElements" type="tns:ArrayOfSecurityClassServiceRetrieveReplyDTO"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ArrayOfSecurityClassServiceRetrieveReplyDTO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="SecurityClassServiceRetrieveReplyDTO" nillable="true" type="tns:SecurityClassServiceRetrieveReplyDTO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="classDesc">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="50"/>
<xsd:minLength value="0"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="SecurityClassServiceRetrieveReplyDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractReplyDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="accessLevel" type="tns:accessLevel"/>
<xsd:element minOccurs="0" name="classDesc" type="tns:classDesc"/>
<xsd:element minOccurs="0" name="className" type="tns:className"/>
<xsd:element minOccurs="0" name="districtCode" type="tns:districtCode"/>
<xsd:element minOccurs="0" name="noSecurityFlag" type="tns:noSecurityFlag"/>
<xsd:element minOccurs="0" name="profileName" type="tns:profileName"/>
<xsd:element minOccurs="0" name="profileType" type="tns:profileType"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="retrieveResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:SecurityClassServiceRetrieveReplyCollectionDTO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="read">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
<xsd:element maxOccurs="1" minOccurs="1" name="requestParameters" nillable="true" type="tns:SecurityClassServiceReadRequestDTO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="readResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:SecurityClassServiceReadReplyDTO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="modify">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
<xsd:element maxOccurs="1" minOccurs="1" name="requestParameters" nillable="true" type="tns:SecurityClassServiceModifyRequestDTO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="modifyResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:SecurityClassServiceModifyReplyDTO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="ArrayOfSecurityClassServiceModifyMethodsRequestDTO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="SecurityClassServiceModifyMethodsRequestDTO" nillable="true" type="tns:SecurityClassServiceModifyMethodsRequestDTO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="multipleModifyMethods">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
<xsd:element maxOccurs="1" minOccurs="1" name="requestParameters" nillable="true" type="tns:ArrayOfSecurityClassServiceModifyMethodsRequestDTO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SecurityClassServiceModifyMethodsReplyCollectionDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractReplyCollectionDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="replyElements" type="tns:ArrayOfSecurityClassServiceModifyMethodsReplyDTO"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ArrayOfSecurityClassServiceModifyMethodsReplyDTO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="SecurityClassServiceModifyMethodsReplyDTO" nillable="true" type="tns:SecurityClassServiceModifyMethodsReplyDTO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="multipleModifyMethodsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:SecurityClassServiceModifyMethodsReplyCollectionDTO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="ArrayOfSecurityClassServiceModifyAttributesRequestDTO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="SecurityClassServiceModifyAttributesRequestDTO" nillable="true" type="tns:SecurityClassServiceModifyAttributesRequestDTO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="multipleModifyAttributes">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="context" nillable="true" type="ns1:OperationContext"/>
<xsd:element maxOccurs="1" minOccurs="1" name="requestParameters" nillable="true" type="tns:ArrayOfSecurityClassServiceModifyAttributesRequestDTO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SecurityClassServiceModifyAttributesReplyCollectionDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractReplyCollectionDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="replyElements" type="tns:ArrayOfSecurityClassServiceModifyAttributesReplyDTO"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ArrayOfSecurityClassServiceModifyAttributesReplyDTO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="SecurityClassServiceModifyAttributesReplyDTO" nillable="true" type="tns:SecurityClassServiceModifyAttributesReplyDTO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="multipleModifyAttributesResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:SecurityClassServiceModifyAttributesReplyCollectionDTO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ellipse.enterpriseservice.mincom.com">
<xsd:import namespace="http://attribute.ellipse.mincom.com"/>
<xsd:complexType name="AbstractDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="customAttributes" type="ns3:ArrayOfAttribute"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="AbstractRequiredAttributesDTO"/>
<xsd:complexType name="AbstractReplyCollectionDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="collectionRestartPoint" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="AbstractReplyDTO">
<xsd:complexContent>
<xsd:extension base="ns2:AbstractDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="warningsAndInformation" type="ns2:ArrayOfWarningMessageDTO"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ArrayOfWarningMessageDTO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="WarningMessageDTO" nillable="true" type="ns2:WarningMessageDTO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="WarningMessageDTO">
<xsd:complexContent>
<xsd:extension base="ns2:ApplicationMessageImpl"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ApplicationMessageImpl">
<xsd:sequence>
<xsd:element minOccurs="0" name="code" type="xsd:string"/>
<xsd:element minOccurs="0" name="dtoIndex" type="xsd:int"/>
<xsd:element minOccurs="0" name="fieldIndex" type="xsd:int"/>
<xsd:element minOccurs="0" name="fieldName" type="xsd:string"/>
<xsd:element minOccurs="0" name="message" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfErrorMessageDTO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ErrorMessageDTO" nillable="true" type="ns2:ErrorMessageDTO"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ErrorMessageDTO">
<xsd:complexContent>
<xsd:extension base="ns2:ApplicationMessageImpl"/>
</xsd:complexContent>
</xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://attribute.ellipse.mincom.com">
<xsd:complexType name="ArrayOfAttribute">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="Attribute" nillable="true" type="ns3:Attribute"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Attribute">
<xsd:sequence>
<xsd:element minOccurs="0" name="name" type="xsd:string"/>
<xsd:element minOccurs="0" name="value" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.enterpriseservice.mincom.com">
<xsd:import namespace="http://ellipse.enterpriseservice.mincom.com"/>
<xsd:complexType name="EnterpriseServiceOperationException">
<xsd:sequence>
<xsd:element minOccurs="0" name="errorMessages" type="ns2:ArrayOfErrorMessageDTO"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="multipleModifyResponse">
    <wsdl:part name="parameters" element="tns:multipleModifyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multipleReadWithPartialResultsRequest">
    <wsdl:part name="parameters" element="tns:multipleReadWithPartialResults">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveResponse">
    <wsdl:part name="parameters" element="tns:retrieveResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multipleReadResponse">
    <wsdl:part name="parameters" element="tns:multipleReadResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EnterpriseServiceOperationException">
    <wsdl:part name="EnterpriseServiceOperationException" element="tns:EnterpriseServiceOperationException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyAttributesResponse">
    <wsdl:part name="parameters" element="tns:modifyAttributesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multipleModifyMethodsResponse">
    <wsdl:part name="parameters" element="tns:multipleModifyMethodsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveClassesResponse">
    <wsdl:part name="parameters" element="tns:retrieveClassesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multipleModifyRequest">
    <wsdl:part name="parameters" element="tns:multipleModify">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multipleReadRequest">
    <wsdl:part name="parameters" element="tns:multipleRead">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multipleModifyMethodsRequest">
    <wsdl:part name="parameters" element="tns:multipleModifyMethods">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multipleReadWithPartialResultsResponse">
    <wsdl:part name="parameters" element="tns:multipleReadWithPartialResultsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multipleModifyAttributesRequest">
    <wsdl:part name="parameters" element="tns:multipleModifyAttributes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyMethodsResponse">
    <wsdl:part name="parameters" element="tns:modifyMethodsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readResponse">
    <wsdl:part name="parameters" element="tns:readResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readRequest">
    <wsdl:part name="parameters" element="tns:read">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyAttributesRequest">
    <wsdl:part name="parameters" element="tns:modifyAttributes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyResponse">
    <wsdl:part name="parameters" element="tns:modifyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveRequest">
    <wsdl:part name="parameters" element="tns:retrieve">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multipleModifyAttributesResponse">
    <wsdl:part name="parameters" element="tns:multipleModifyAttributesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveClassesRequest">
    <wsdl:part name="parameters" element="tns:retrieveClasses">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyRequest">
    <wsdl:part name="parameters" element="tns:modify">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyMethodsRequest">
    <wsdl:part name="parameters" element="tns:modifyMethods">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SecurityClass">
    <wsdl:operation name="multipleModify">
      <wsdl:input name="multipleModifyRequest" message="tns:multipleModifyRequest">
    </wsdl:input>
      <wsdl:output name="multipleModifyResponse" message="tns:multipleModifyResponse">
    </wsdl:output>
      <wsdl:fault name="EnterpriseServiceOperationException" message="tns:EnterpriseServiceOperationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyMethods">
      <wsdl:input name="modifyMethodsRequest" message="tns:modifyMethodsRequest">
    </wsdl:input>
      <wsdl:output name="modifyMethodsResponse" message="tns:modifyMethodsResponse">
    </wsdl:output>
      <wsdl:fault name="EnterpriseServiceOperationException" message="tns:EnterpriseServiceOperationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="multipleRead">
      <wsdl:input name="multipleReadRequest" message="tns:multipleReadRequest">
    </wsdl:input>
      <wsdl:output name="multipleReadResponse" message="tns:multipleReadResponse">
    </wsdl:output>
      <wsdl:fault name="EnterpriseServiceOperationException" message="tns:EnterpriseServiceOperationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyAttributes">
      <wsdl:input name="modifyAttributesRequest" message="tns:modifyAttributesRequest">
    </wsdl:input>
      <wsdl:output name="modifyAttributesResponse" message="tns:modifyAttributesResponse">
    </wsdl:output>
      <wsdl:fault name="EnterpriseServiceOperationException" message="tns:EnterpriseServiceOperationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="multipleReadWithPartialResults">
      <wsdl:input name="multipleReadWithPartialResultsRequest" message="tns:multipleReadWithPartialResultsRequest">
    </wsdl:input>
      <wsdl:output name="multipleReadWithPartialResultsResponse" message="tns:multipleReadWithPartialResultsResponse">
    </wsdl:output>
      <wsdl:fault name="EnterpriseServiceOperationException" message="tns:EnterpriseServiceOperationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveClasses">
      <wsdl:input name="retrieveClassesRequest" message="tns:retrieveClassesRequest">
    </wsdl:input>
      <wsdl:output name="retrieveClassesResponse" message="tns:retrieveClassesResponse">
    </wsdl:output>
      <wsdl:fault name="EnterpriseServiceOperationException" message="tns:EnterpriseServiceOperationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieve">
      <wsdl:input name="retrieveRequest" message="tns:retrieveRequest">
    </wsdl:input>
      <wsdl:output name="retrieveResponse" message="tns:retrieveResponse">
    </wsdl:output>
      <wsdl:fault name="EnterpriseServiceOperationException" message="tns:EnterpriseServiceOperationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdl:input name="readRequest" message="tns:readRequest">
    </wsdl:input>
      <wsdl:output name="readResponse" message="tns:readResponse">
    </wsdl:output>
      <wsdl:fault name="EnterpriseServiceOperationException" message="tns:EnterpriseServiceOperationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modify">
      <wsdl:input name="modifyRequest" message="tns:modifyRequest">
    </wsdl:input>
      <wsdl:output name="modifyResponse" message="tns:modifyResponse">
    </wsdl:output>
      <wsdl:fault name="EnterpriseServiceOperationException" message="tns:EnterpriseServiceOperationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="multipleModifyMethods">
      <wsdl:input name="multipleModifyMethodsRequest" message="tns:multipleModifyMethodsRequest">
    </wsdl:input>
      <wsdl:output name="multipleModifyMethodsResponse" message="tns:multipleModifyMethodsResponse">
    </wsdl:output>
      <wsdl:fault name="EnterpriseServiceOperationException" message="tns:EnterpriseServiceOperationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="multipleModifyAttributes">
      <wsdl:input name="multipleModifyAttributesRequest" message="tns:multipleModifyAttributesRequest">
    </wsdl:input>
      <wsdl:output name="multipleModifyAttributesResponse" message="tns:multipleModifyAttributesResponse">
    </wsdl:output>
      <wsdl:fault name="EnterpriseServiceOperationException" message="tns:EnterpriseServiceOperationException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SecurityClassServiceHttpBinding" type="tns:SecurityClass">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference URI="#SecurityClassServiceHttpBindingPolicy"/>
    <wsdl:operation name="multipleModify">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="multipleModifyRequest">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#SecurityClassServiceHttpBinding_Policy"/>
      </wsdl:input>
      <wsdl:output name="multipleModifyResponse">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#SecurityClassServiceHttpBinding_Policy"/>
      </wsdl:output>
      <wsdl:fault name="EnterpriseServiceOperationException">
        <wsdlsoap:fault name="EnterpriseServiceOperationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyMethods">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="modifyMethodsRequest">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#SecurityClassServiceHttpBinding_Policy"/>
      </wsdl:input>
      <wsdl:output name="modifyMethodsResponse">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#SecurityClassServiceHttpBinding_Policy"/>
      </wsdl:output>
      <wsdl:fault name="EnterpriseServiceOperationException">
        <wsdlsoap:fault name="EnterpriseServiceOperationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="multipleRead">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="multipleReadRequest">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#SecurityClassServiceHttpBinding_Policy"/>
      </wsdl:input>
      <wsdl:output name="multipleReadResponse">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#SecurityClassServiceHttpBinding_Policy"/>
      </wsdl:output>
      <wsdl:fault name="EnterpriseServiceOperationException">
        <wsdlsoap:fault name="EnterpriseServiceOperationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyAttributes">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="modifyAttributesRequest">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#SecurityClassServiceHttpBinding_Policy"/>
      </wsdl:input>
      <wsdl:output name="modifyAttributesResponse">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#SecurityClassServiceHttpBinding_Policy"/>
      </wsdl:output>
      <wsdl:fault name="EnterpriseServiceOperationException">
        <wsdlsoap:fault name="EnterpriseServiceOperationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="multipleReadWithPartialResults">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="multipleReadWithPartialResultsRequest">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#SecurityClassServiceHttpBinding_Policy"/>
      </wsdl:input>
      <wsdl:output name="multipleReadWithPartialResultsResponse">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#SecurityClassServiceHttpBinding_Policy"/>
      </wsdl:output>
      <wsdl:fault name="EnterpriseServiceOperationException">
        <wsdlsoap:fault name="EnterpriseServiceOperationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveClasses">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="retrieveClassesRequest">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#SecurityClassServiceHttpBinding_Policy"/>
      </wsdl:input>
      <wsdl:output name="retrieveClassesResponse">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#SecurityClassServiceHttpBinding_Policy"/>
      </wsdl:output>
      <wsdl:fault name="EnterpriseServiceOperationException">
        <wsdlsoap:fault name="EnterpriseServiceOperationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieve">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="retrieveRequest">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#SecurityClassServiceHttpBinding_Policy"/>
      </wsdl:input>
      <wsdl:output name="retrieveResponse">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#SecurityClassServiceHttpBinding_Policy"/>
      </wsdl:output>
      <wsdl:fault name="EnterpriseServiceOperationException">
        <wsdlsoap:fault name="EnterpriseServiceOperationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="readRequest">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#SecurityClassServiceHttpBinding_Policy"/>
      </wsdl:input>
      <wsdl:output name="readResponse">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#SecurityClassServiceHttpBinding_Policy"/>
      </wsdl:output>
      <wsdl:fault name="EnterpriseServiceOperationException">
        <wsdlsoap:fault name="EnterpriseServiceOperationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modify">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="modifyRequest">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#SecurityClassServiceHttpBinding_Policy"/>
      </wsdl:input>
      <wsdl:output name="modifyResponse">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#SecurityClassServiceHttpBinding_Policy"/>
      </wsdl:output>
      <wsdl:fault name="EnterpriseServiceOperationException">
        <wsdlsoap:fault name="EnterpriseServiceOperationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="multipleModifyMethods">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="multipleModifyMethodsRequest">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#SecurityClassServiceHttpBinding_Policy"/>
      </wsdl:input>
      <wsdl:output name="multipleModifyMethodsResponse">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#SecurityClassServiceHttpBinding_Policy"/>
      </wsdl:output>
      <wsdl:fault name="EnterpriseServiceOperationException">
        <wsdlsoap:fault name="EnterpriseServiceOperationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="multipleModifyAttributes">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="multipleModifyAttributesRequest">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#SecurityClassServiceHttpBinding_Policy"/>
      </wsdl:input>
      <wsdl:output name="multipleModifyAttributesResponse">
        <wsdlsoap:body use="literal"/>
        <wsp:PolicyReference URI="#SecurityClassServiceHttpBinding_Policy"/>
      </wsdl:output>
      <wsdl:fault name="EnterpriseServiceOperationException">
        <wsdlsoap:fault name="EnterpriseServiceOperationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecurityClassService">
    <wsdl:port name="SecurityClassServiceHttpPort" binding="tns:SecurityClassServiceHttpBinding">
      <wsdlsoap:address location="http://ews-el8desa.lmnerp03.cerrejon.com/ews/services/SecurityClassService"/>
    </wsdl:port>
  </wsdl:service>
  <wsp:Policy wsu:Id="SecurityClassServiceHttpBindingPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SymmetricBinding>
          <wsp:Policy/>
        </sp:SymmetricBinding>
        <sp:EncryptedSupportingTokens>
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10/>
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:EncryptedSupportingTokens>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="SecurityClassServiceHttpBinding_Policy">
    <wsp:ExactlyOne>
      <wsp:All/>
    </wsp:ExactlyOne>
  </wsp:Policy>
</wsdl:definitions>
