EllipseBulkMaterialExcelAddIn/EllipseBulkMaterialExcelAddIn/Web References/BulkMaterialUsageSheetService/BulkMaterialUsageSheetService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ns2="http://service.ellipse.mincom.com" xmlns:tns="http://bulkmaterialusagesheet.m3301.service.ellipse.mincom.com" xmlns:ns5="http://attribute.ellipse.mincom.com" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:ns3="http://instances.m3301.types.ellipse.mincom.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:ns4="http://instances.base.types.ellipse.mincom.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:ns1="http://connectivity.service.ews.mincom.com" xmlns:ns6="http://errors.ellipse.mincom.com" targetNamespace="http://bulkmaterialusagesheet.m3301.service.ellipse.mincom.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BulkMaterialUsageSheetServiceHttpBindingPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SymmetricBinding>
          <wsp:Policy />
        </sp:SymmetricBinding>
        <sp:EncryptedSupportingTokens>
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:EncryptedSupportingTokens>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BulkMaterialUsageSheetServiceHttpBinding_Policy">
    <wsp:ExactlyOne>
      <wsp:All />
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://connectivity.service.ews.mincom.com">
      <xsd:complexType name="OperationContext">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="district" type="xsd:string" />
          <xsd:element minOccurs="0" name="maxInstances" type="xsd:int" />
          <xsd:element minOccurs="0" name="position" type="xsd:string" />
          <xsd:element minOccurs="0" name="returnWarnings" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="runAs" type="ns1:RunAs" />
          <xsd:element minOccurs="0" name="trace" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="transaction" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RunAs">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="district" type="xsd:string" />
          <xsd:element minOccurs="0" name="position" type="xsd:string" />
          <xsd:element minOccurs="0" name="user" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://instances.m3301.types.ellipse.mincom.com">
      <xsd:import namespace="http://service.ellipse.mincom.com" />
      <xsd:simpleType name="defaultSupplierReference">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="80" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="employeeId">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="lastModifiedTime">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="defaultBulkMaterialTypeId">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="status">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="defaultBatchLotNumber">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="defaultUsageDate">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="defaultSubLedger">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="bulkMaterialUsageSheetId">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="warehouseId">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="defaultAccountCode">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="24" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="supplyCustomerAccountId">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="districtCode">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="recordedBy">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="defaultUseByDate">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="lastModifiedDate">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="defaultUsageTime">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="supplierNumber">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="BulkMaterialUsageSheetDTO">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns2:ServiceDTO">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="bulkMaterialUsageSheetId" type="ns3:bulkMaterialUsageSheetId" />
              <xsd:element minOccurs="0" name="defaultAccountCode" type="ns3:defaultAccountCode" />
              <xsd:element minOccurs="0" name="defaultBatchLotNumber" type="ns3:defaultBatchLotNumber" />
              <xsd:element minOccurs="0" name="defaultBulkMaterialTypeId" type="ns3:defaultBulkMaterialTypeId" />
              <xsd:element minOccurs="0" name="defaultSubLedger" type="ns3:defaultSubLedger" />
              <xsd:element minOccurs="0" name="defaultSupplierReference" type="ns3:defaultSupplierReference" />
              <xsd:element minOccurs="0" name="defaultUsageDate" type="ns3:defaultUsageDate" />
              <xsd:element minOccurs="0" name="defaultUsageTime" type="ns3:defaultUsageTime" />
              <xsd:element minOccurs="0" name="defaultUseByDate" type="ns3:defaultUseByDate" />
              <xsd:element minOccurs="0" name="districtCode" type="ns3:districtCode" />
              <xsd:element minOccurs="0" name="employeeId" type="ns3:employeeId" />
              <xsd:element minOccurs="0" name="lastModifiedDate" type="ns3:lastModifiedDate" />
              <xsd:element minOccurs="0" name="lastModifiedTime" type="ns3:lastModifiedTime" />
              <xsd:element minOccurs="0" name="recordedBy" type="ns3:recordedBy" />
              <xsd:element minOccurs="0" name="status" type="ns3:status" />
              <xsd:element minOccurs="0" name="supplierNumber" type="ns3:supplierNumber" />
              <xsd:element minOccurs="0" name="supplyCustomerAccountId" type="ns3:supplyCustomerAccountId" />
              <xsd:element minOccurs="0" name="warehouseId" type="ns3:warehouseId" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="BulkMaterialUsageSheetServiceResult">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns2:ServiceResult">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="bulkMaterialUsageSheetDTO" type="ns3:BulkMaterialUsageSheetDTO" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfBulkMaterialUsageSheetDTO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="BulkMaterialUsageSheetDTO" nillable="true" type="ns3:BulkMaterialUsageSheetDTO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfBulkMaterialUsageSheetServiceResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="BulkMaterialUsageSheetServiceResult" nillable="true" type="ns3:BulkMaterialUsageSheetServiceResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="stockCode">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="9" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="equipmentReference">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="bulkMaterialTypeId">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="usageDateTo">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="usageDateFrom">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="supplierReference">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="80" />
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="BulkMaterialUsageSheetSearchParam">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns2:AbstractSearchParam">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="bulkMaterialTypeId" type="ns3:bulkMaterialTypeId" />
              <xsd:element minOccurs="0" name="bulkMaterialUsageSheetId" type="ns3:bulkMaterialUsageSheetId" />
              <xsd:element minOccurs="0" name="districtCode" type="ns3:districtCode" />
              <xsd:element minOccurs="0" name="employeeId" type="ns3:employeeId" />
              <xsd:element minOccurs="0" name="equipmentReference" type="ns3:equipmentReference" />
              <xsd:element minOccurs="0" name="recordedBy" type="ns3:recordedBy" />
              <xsd:element minOccurs="0" name="status" type="ns3:status" />
              <xsd:element minOccurs="0" name="stockCode" type="ns3:stockCode" />
              <xsd:element minOccurs="0" name="supplierNumber" type="ns3:supplierNumber" />
              <xsd:element minOccurs="0" name="supplierReference" type="ns3:supplierReference" />
              <xsd:element minOccurs="0" name="supplyCustomerAccountId" type="ns3:supplyCustomerAccountId" />
              <xsd:element minOccurs="0" name="usageDateFrom" type="ns3:usageDateFrom" />
              <xsd:element minOccurs="0" name="usageDateTo" type="ns3:usageDateTo" />
              <xsd:element minOccurs="0" name="warehouseId" type="ns3:warehouseId" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.ellipse.mincom.com">
      <xsd:import namespace="http://errors.ellipse.mincom.com" />
      <xsd:import namespace="http://attribute.ellipse.mincom.com" />
      <xsd:import namespace="http://instances.base.types.ellipse.mincom.com" />
      <xsd:complexType name="ServiceDTO" abstract="true">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns4:Base">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="customAttributes" type="ns5:ArrayOfAttribute" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ServiceResult">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns2:BaseServiceResult" />
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="BaseServiceResult" abstract="true">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="errors" type="ns6:ArrayOfError" />
          <xsd:element minOccurs="0" name="informationalMessages" type="ns6:ArrayOfMessage" />
          <xsd:element minOccurs="0" name="warnings" type="ns6:ArrayOfWarning" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AbstractSearchParam" abstract="true">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns2:ServiceDTO" />
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://attribute.ellipse.mincom.com">
      <xsd:complexType name="ArrayOfAttribute">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Attribute" nillable="true" type="ns5:Attribute" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Attribute">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="value" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://instances.base.types.ellipse.mincom.com">
      <xsd:complexType name="Base" abstract="true" />
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://bulkmaterialusagesheet.m3301.service.ellipse.mincom.com">
      <xsd:import namespace="http://connectivity.service.ews.mincom.com" />
      <xsd:import namespace="http://instances.m3301.types.ellipse.mincom.com" />
      <xsd:element name="update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="serviceDTO" nillable="true" type="ns3:BulkMaterialUsageSheetDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:BulkMaterialUsageSheetServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="apply">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="serviceDTO" nillable="true" type="ns3:BulkMaterialUsageSheetDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="applyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:BulkMaterialUsageSheetServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleDelete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="inputDtos" nillable="true" type="ns3:ArrayOfBulkMaterialUsageSheetDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleDeleteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:ArrayOfBulkMaterialUsageSheetServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleCreate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="inputDtos" nillable="true" type="ns3:ArrayOfBulkMaterialUsageSheetDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleCreateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:ArrayOfBulkMaterialUsageSheetServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleApply">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="inputDtos" nillable="true" type="ns3:ArrayOfBulkMaterialUsageSheetDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleApplyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:ArrayOfBulkMaterialUsageSheetServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleUpdate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="inputDtos" nillable="true" type="ns3:ArrayOfBulkMaterialUsageSheetDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleUpdateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:ArrayOfBulkMaterialUsageSheetServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="serviceDTO" nillable="true" type="ns3:BulkMaterialUsageSheetDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:BulkMaterialUsageSheetServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="unapply">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="serviceDTO" nillable="true" type="ns3:BulkMaterialUsageSheetDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="unapplyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:BulkMaterialUsageSheetServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleRead">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="inputDtos" nillable="true" type="ns3:ArrayOfBulkMaterialUsageSheetDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleReadResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:ArrayOfBulkMaterialUsageSheetServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="search">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="searchParams" nillable="true" type="ns3:BulkMaterialUsageSheetSearchParam" />
            <xsd:element minOccurs="1" maxOccurs="1" name="restart" nillable="true" type="ns3:BulkMaterialUsageSheetDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:ArrayOfBulkMaterialUsageSheetServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="serviceDTO" nillable="true" type="ns3:BulkMaterialUsageSheetDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:BulkMaterialUsageSheetServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="serviceDTO" nillable="true" type="ns3:BulkMaterialUsageSheetDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="readResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:BulkMaterialUsageSheetServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleUnapply">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="inputDtos" nillable="true" type="ns3:ArrayOfBulkMaterialUsageSheetDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleUnapplyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:ArrayOfBulkMaterialUsageSheetServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://errors.ellipse.mincom.com">
      <xsd:complexType name="ArrayOfWarning">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Warning" nillable="true" type="ns6:Warning" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Warning">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns6:Message" />
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Message">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="fieldId" type="xsd:string" />
          <xsd:element minOccurs="0" name="fieldIndex" type="xsd:int" />
          <xsd:element minOccurs="0" name="messageId" type="xsd:string" />
          <xsd:element minOccurs="0" name="messageInstance" type="xsd:string" />
          <xsd:element minOccurs="0" name="messageText" type="xsd:string" />
          <xsd:element minOccurs="0" name="parentInstance" type="xsd:string" />
          <xsd:element minOccurs="0" name="user" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfMessage">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="ns6:Message" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfError">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Error" nillable="true" type="ns6:Error" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Error">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns6:Message" />
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="multipleReadRequest">
    <wsdl:part name="parameters" element="tns:multipleRead" />
  </wsdl:message>
  <wsdl:message name="multipleUnapplyResponse">
    <wsdl:part name="parameters" element="tns:multipleUnapplyResponse" />
  </wsdl:message>
  <wsdl:message name="searchResponse">
    <wsdl:part name="parameters" element="tns:searchResponse" />
  </wsdl:message>
  <wsdl:message name="applyResponse">
    <wsdl:part name="parameters" element="tns:applyResponse" />
  </wsdl:message>
  <wsdl:message name="searchRequest">
    <wsdl:part name="parameters" element="tns:search" />
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="multipleUpdateResponse">
    <wsdl:part name="parameters" element="tns:multipleUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="readRequest">
    <wsdl:part name="parameters" element="tns:read" />
  </wsdl:message>
  <wsdl:message name="multipleApplyRequest">
    <wsdl:part name="parameters" element="tns:multipleApply" />
  </wsdl:message>
  <wsdl:message name="deleteRequest">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="multipleApplyResponse">
    <wsdl:part name="parameters" element="tns:multipleApplyResponse" />
  </wsdl:message>
  <wsdl:message name="multipleCreateRequest">
    <wsdl:part name="parameters" element="tns:multipleCreate" />
  </wsdl:message>
  <wsdl:message name="applyRequest">
    <wsdl:part name="parameters" element="tns:apply" />
  </wsdl:message>
  <wsdl:message name="multipleReadResponse">
    <wsdl:part name="parameters" element="tns:multipleReadResponse" />
  </wsdl:message>
  <wsdl:message name="multipleDeleteResponse">
    <wsdl:part name="parameters" element="tns:multipleDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="unapplyRequest">
    <wsdl:part name="parameters" element="tns:unapply" />
  </wsdl:message>
  <wsdl:message name="unapplyResponse">
    <wsdl:part name="parameters" element="tns:unapplyResponse" />
  </wsdl:message>
  <wsdl:message name="multipleUnapplyRequest">
    <wsdl:part name="parameters" element="tns:multipleUnapply" />
  </wsdl:message>
  <wsdl:message name="multipleUpdateRequest">
    <wsdl:part name="parameters" element="tns:multipleUpdate" />
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="multipleCreateResponse">
    <wsdl:part name="parameters" element="tns:multipleCreateResponse" />
  </wsdl:message>
  <wsdl:message name="createResponse">
    <wsdl:part name="parameters" element="tns:createResponse" />
  </wsdl:message>
  <wsdl:message name="createRequest">
    <wsdl:part name="parameters" element="tns:create" />
  </wsdl:message>
  <wsdl:message name="multipleDeleteRequest">
    <wsdl:part name="parameters" element="tns:multipleDelete" />
  </wsdl:message>
  <wsdl:message name="updateRequest">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="readResponse">
    <wsdl:part name="parameters" element="tns:readResponse" />
  </wsdl:message>
  <wsdl:portType name="BulkMaterialUsageSheet">
    <wsdl:operation name="update">
      <wsdl:input name="updateRequest" message="tns:updateRequest" />
      <wsdl:output name="updateResponse" message="tns:updateResponse" />
    </wsdl:operation>
    <wsdl:operation name="apply">
      <wsdl:input name="applyRequest" message="tns:applyRequest" />
      <wsdl:output name="applyResponse" message="tns:applyResponse" />
    </wsdl:operation>
    <wsdl:operation name="multipleDelete">
      <wsdl:input name="multipleDeleteRequest" message="tns:multipleDeleteRequest" />
      <wsdl:output name="multipleDeleteResponse" message="tns:multipleDeleteResponse" />
    </wsdl:operation>
    <wsdl:operation name="multipleCreate">
      <wsdl:input name="multipleCreateRequest" message="tns:multipleCreateRequest" />
      <wsdl:output name="multipleCreateResponse" message="tns:multipleCreateResponse" />
    </wsdl:operation>
    <wsdl:operation name="multipleApply">
      <wsdl:input name="multipleApplyRequest" message="tns:multipleApplyRequest" />
      <wsdl:output name="multipleApplyResponse" message="tns:multipleApplyResponse" />
    </wsdl:operation>
    <wsdl:operation name="multipleUpdate">
      <wsdl:input name="multipleUpdateRequest" message="tns:multipleUpdateRequest" />
      <wsdl:output name="multipleUpdateResponse" message="tns:multipleUpdateResponse" />
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input name="createRequest" message="tns:createRequest" />
      <wsdl:output name="createResponse" message="tns:createResponse" />
    </wsdl:operation>
    <wsdl:operation name="unapply">
      <wsdl:input name="unapplyRequest" message="tns:unapplyRequest" />
      <wsdl:output name="unapplyResponse" message="tns:unapplyResponse" />
    </wsdl:operation>
    <wsdl:operation name="multipleRead">
      <wsdl:input name="multipleReadRequest" message="tns:multipleReadRequest" />
      <wsdl:output name="multipleReadResponse" message="tns:multipleReadResponse" />
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdl:input name="searchRequest" message="tns:searchRequest" />
      <wsdl:output name="searchResponse" message="tns:searchResponse" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input name="deleteRequest" message="tns:deleteRequest" />
      <wsdl:output name="deleteResponse" message="tns:deleteResponse" />
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdl:input name="readRequest" message="tns:readRequest" />
      <wsdl:output name="readResponse" message="tns:readResponse" />
    </wsdl:operation>
    <wsdl:operation name="multipleUnapply">
      <wsdl:input name="multipleUnapplyRequest" message="tns:multipleUnapplyRequest" />
      <wsdl:output name="multipleUnapplyResponse" message="tns:multipleUnapplyResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BulkMaterialUsageSheetServiceHttpBinding" type="tns:BulkMaterialUsageSheet">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBindingPolicy" />
    <wsdl:operation name="update">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="updateRequest">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="apply">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="applyRequest">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:input>
      <wsdl:output name="applyResponse">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleDelete">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="multipleDeleteRequest">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:input>
      <wsdl:output name="multipleDeleteResponse">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleCreate">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="multipleCreateRequest">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:input>
      <wsdl:output name="multipleCreateResponse">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleApply">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="multipleApplyRequest">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:input>
      <wsdl:output name="multipleApplyResponse">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleUpdate">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="multipleUpdateRequest">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:input>
      <wsdl:output name="multipleUpdateResponse">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="createRequest">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:input>
      <wsdl:output name="createResponse">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unapply">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="unapplyRequest">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:input>
      <wsdl:output name="unapplyResponse">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleRead">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="multipleReadRequest">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:input>
      <wsdl:output name="multipleReadResponse">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="searchRequest">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:input>
      <wsdl:output name="searchResponse">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="deleteRequest">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="readRequest">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:input>
      <wsdl:output name="readResponse">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleUnapply">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="multipleUnapplyRequest">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:input>
      <wsdl:output name="multipleUnapplyResponse">
        <wsdlsoap:body use="literal" />
        <wsp:PolicyReference URI="#BulkMaterialUsageSheetServiceHttpBinding_Policy" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BulkMaterialUsageSheetService">
    <wsdl:port name="BulkMaterialUsageSheetServiceHttpPort" binding="tns:BulkMaterialUsageSheetServiceHttpBinding">
      <wsdlsoap:address location="http://ews-el8prod.lmnerp01.cerrejon.com/ews/services/BulkMaterialUsageSheetService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>