Materiales/EllipseDiscrepanciasExcelAddIn/EllipseDiscrepanciasExcelAddIn/Web References/AdjustDiscrepantHoldingService/AdjustDiscrepantHoldingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ns2="http://service.ellipse.mincom.com" xmlns:ns1="http://connectivity.service.ews.mincom.com" xmlns:tns="http://adjustdiscrepantholding.m3140.service.ellipse.mincom.com" xmlns:ns6="http://errors.ellipse.mincom.com" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:ns3="http://instances.m3140.types.ellipse.mincom.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns4="http://instances.base.types.ellipse.mincom.com" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns5="http://attribute.ellipse.mincom.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://adjustdiscrepantholding.m3140.service.ellipse.mincom.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://connectivity.service.ews.mincom.com">
      <xsd:complexType name="OperationContext">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="applicationClientId" type="xsd:string" />
          <xsd:element minOccurs="0" name="district" type="xsd:string" />
          <xsd:element minOccurs="0" name="eventDisable" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="maxInstances" type="xsd:int" />
          <xsd:element minOccurs="0" name="position" type="xsd:string" />
          <xsd:element minOccurs="0" name="returnWarnings" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="runAs" type="ns1:RunAs" />
          <xsd:element minOccurs="0" name="tenantId" type="xsd:string" />
          <xsd:element minOccurs="0" name="trace" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="transaction" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RunAs">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="district" type="xsd:string" />
          <xsd:element minOccurs="0" name="position" type="xsd:string" />
          <xsd:element minOccurs="0" name="user" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://instances.m3140.types.ellipse.mincom.com">
      <xsd:import namespace="http://service.ellipse.mincom.com" />
      <xsd:simpleType name="useByDate">
        <xsd:restriction base="xsd:date" />
      </xsd:simpleType>
      <xsd:simpleType name="isShelfLifeManaged">
        <xsd:restriction base="xsd:boolean" />
      </xsd:simpleType>
      <xsd:simpleType name="districtCode">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="resolutionCode">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="inventoryCategory">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="binCode">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="12" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="supplyCustomerAccountId">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="employeeId">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="stockCode">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="9" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="conditionCode">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="stockCodePackedDescription">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="160" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="trackingIndicator">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="isCategoryManaged">
        <xsd:restriction base="xsd:boolean" />
      </xsd:simpleType>
      <xsd:simpleType name="isBatchLotManaged">
        <xsd:restriction base="xsd:boolean" />
      </xsd:simpleType>
      <xsd:simpleType name="warehouseId">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="batchLotNumber">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="custodianId">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="32" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="unitOfIssue">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="taskId">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="32" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="isSSAVItemAtPending">
        <xsd:restriction base="xsd:boolean" />
      </xsd:simpleType>
      <xsd:complexType name="AdjustDiscrepantHoldingDTO">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns2:ServiceDTO">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="batchLotNumber" type="ns3:batchLotNumber" />
              <xsd:element minOccurs="0" name="binCode" type="ns3:binCode" />
              <xsd:element minOccurs="0" name="conditionCode" type="ns3:conditionCode" />
              <xsd:element minOccurs="0" name="custodianId" type="ns3:custodianId" />
              <xsd:element minOccurs="0" name="districtCode" type="ns3:districtCode" />
              <xsd:element minOccurs="0" name="employeeId" type="ns3:employeeId" />
              <xsd:element minOccurs="0" name="inventoryCategory" type="ns3:inventoryCategory" />
              <xsd:element minOccurs="0" name="isBatchLotManaged" type="ns3:isBatchLotManaged" />
              <xsd:element minOccurs="0" name="isCategoryManaged" type="ns3:isCategoryManaged" />
              <xsd:element minOccurs="0" name="isSSAVItemAtPending" type="ns3:isSSAVItemAtPending" />
              <xsd:element minOccurs="0" name="isShelfLifeManaged" type="ns3:isShelfLifeManaged" />
              <xsd:element minOccurs="0" name="resolutionCode" type="ns3:resolutionCode" />
              <xsd:element minOccurs="0" name="stockCode" type="ns3:stockCode" />
              <xsd:element minOccurs="0" name="stockCodePackedDescription" type="ns3:stockCodePackedDescription" />
              <xsd:element minOccurs="0" name="supplyCustomerAccountId" type="ns3:supplyCustomerAccountId" />
              <xsd:element minOccurs="0" name="taskId" type="ns3:taskId" />
              <xsd:element minOccurs="0" name="trackingIndicator" type="ns3:trackingIndicator" />
              <xsd:element minOccurs="0" name="unitOfIssue" type="ns3:unitOfIssue" />
              <xsd:element minOccurs="0" name="useByDate" type="ns3:useByDate" />
              <xsd:element minOccurs="0" name="warehouseId" type="ns3:warehouseId" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="AdjustDiscrepantHoldingServiceResult">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns2:ServiceResult">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="adjustDiscrepantHoldingDTO" type="ns3:AdjustDiscrepantHoldingDTO" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAdjustDiscrepantHoldingItemDTO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="AdjustDiscrepantHoldingItemDTO" nillable="true" type="ns3:AdjustDiscrepantHoldingItemDTO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="trackingReference">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="writeOff">
        <xsd:restriction base="xsd:decimal">
          <xsd:maxInclusive value="999999999" />
          <xsd:minInclusive value="0" />
          <xsd:fractionDigits value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="stockOwnershipIndicator">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="equipmentNumber">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="12" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="fixedStatus">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="holdingId">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="32" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="holdingType">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="bringOn">
        <xsd:restriction base="xsd:decimal">
          <xsd:maxInclusive value="999999999" />
          <xsd:minInclusive value="0" />
          <xsd:fractionDigits value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="stockOnHand">
        <xsd:restriction base="xsd:decimal">
          <xsd:maxInclusive value="999999999" />
          <xsd:minInclusive value="0" />
          <xsd:fractionDigits value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="AdjustDiscrepantHoldingItemDTO">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns2:ServiceDTO">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="batchLotNumber" type="ns3:batchLotNumber" />
              <xsd:element minOccurs="0" name="binCode" type="ns3:binCode" />
              <xsd:element minOccurs="0" name="bringOn" type="ns3:bringOn" />
              <xsd:element minOccurs="0" name="conditionCode" type="ns3:conditionCode" />
              <xsd:element minOccurs="0" name="custodianId" type="ns3:custodianId" />
              <xsd:element minOccurs="0" name="equipmentNumber" type="ns3:equipmentNumber" />
              <xsd:element minOccurs="0" name="fixedStatus" type="ns3:fixedStatus" />
              <xsd:element minOccurs="0" name="holdingId" type="ns3:holdingId" />
              <xsd:element minOccurs="0" name="holdingType" type="ns3:holdingType" />
              <xsd:element minOccurs="0" name="inventoryCategory" type="ns3:inventoryCategory" />
              <xsd:element minOccurs="0" name="stockCode" type="ns3:stockCode" />
              <xsd:element minOccurs="0" name="stockOnHand" type="ns3:stockOnHand" />
              <xsd:element minOccurs="0" name="stockOwnershipIndicator" type="ns3:stockOwnershipIndicator" />
              <xsd:element minOccurs="0" name="taskId" type="ns3:taskId" />
              <xsd:element minOccurs="0" name="trackingIndicator" type="ns3:trackingIndicator" />
              <xsd:element minOccurs="0" name="trackingReference" type="ns3:trackingReference" />
              <xsd:element minOccurs="0" name="useByDate" type="ns3:useByDate" />
              <xsd:element minOccurs="0" name="writeOff" type="ns3:writeOff" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAdjustDiscrepantHoldingItemServiceResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="AdjustDiscrepantHoldingItemServiceResult" nillable="true" type="ns3:AdjustDiscrepantHoldingItemServiceResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AdjustDiscrepantHoldingItemServiceResult">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns2:ServiceResult">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="adjustdiscrepantholdingitemdto" type="ns3:AdjustDiscrepantHoldingItemDTO" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAdjustDiscrepantHoldingDTO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="AdjustDiscrepantHoldingDTO" nillable="true" type="ns3:AdjustDiscrepantHoldingDTO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAdjustDiscrepantHoldingServiceResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="AdjustDiscrepantHoldingServiceResult" nillable="true" type="ns3:AdjustDiscrepantHoldingServiceResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AdjustDiscrepantHoldingItemSearchParam">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns2:AbstractSearchParam">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="batchLotNumber" type="ns3:batchLotNumber" />
              <xsd:element minOccurs="0" name="binCode" type="ns3:binCode" />
              <xsd:element minOccurs="0" name="conditionCode" type="ns3:conditionCode" />
              <xsd:element minOccurs="0" name="custodianId" type="ns3:custodianId" />
              <xsd:element minOccurs="0" name="inventoryCategory" type="ns3:inventoryCategory" />
              <xsd:element minOccurs="0" name="stockCode" type="ns3:stockCode" />
              <xsd:element minOccurs="0" name="taskId" type="ns3:taskId" />
              <xsd:element minOccurs="0" name="useByDate" type="ns3:useByDate" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.ellipse.mincom.com">
      <xsd:import namespace="http://errors.ellipse.mincom.com" />
      <xsd:import namespace="http://instances.base.types.ellipse.mincom.com" />
      <xsd:import namespace="http://attribute.ellipse.mincom.com" />
      <xsd:complexType name="ServiceDTO" abstract="true">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns4:Base">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="customAttributes" type="ns5:ArrayOfAttribute" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ServiceResult">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns2:BaseServiceResult" />
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="BaseServiceResult" abstract="true">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="errors" type="ns6:ArrayOfError" />
          <xsd:element minOccurs="0" name="informationalMessages" type="ns6:ArrayOfMessage" />
          <xsd:element minOccurs="0" name="warnings" type="ns6:ArrayOfWarning" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AbstractSearchParam" abstract="true">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns2:ServiceDTO">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="serviceRequiredAttributes" type="ns2:ServiceRequiredAttributes" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ServiceRequiredAttributes" />
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://attribute.ellipse.mincom.com">
      <xsd:import namespace="http://adjustdiscrepantholding.m3140.service.ellipse.mincom.com" />
      <xsd:complexType name="ArrayOfAttribute">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Attribute" nillable="true" type="ns5:Attribute" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Attribute">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="dataType" type="xsd:string" />
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="namespace" type="xsd:string" />
          <xsd:element minOccurs="0" name="properties" type="tns:anyType2anyTypeMap" />
          <xsd:element minOccurs="0" name="value" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://adjustdiscrepantholding.m3140.service.ellipse.mincom.com">
      <xsd:import namespace="http://connectivity.service.ews.mincom.com" />
      <xsd:import namespace="http://instances.m3140.types.ellipse.mincom.com" />
      <xsd:complexType name="anyType2anyTypeMap">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="entry">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="key" type="xsd:anyType" />
                <xsd:element minOccurs="0" maxOccurs="1" name="value" type="xsd:anyType" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="finalise">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="serviceDTO" nillable="true" type="ns3:AdjustDiscrepantHoldingDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finaliseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:AdjustDiscrepantHoldingServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="serviceDTO" nillable="true" type="ns3:AdjustDiscrepantHoldingDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="readResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:AdjustDiscrepantHoldingServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleDeleteItem">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="inputDtos" nillable="true" type="ns3:ArrayOfAdjustDiscrepantHoldingItemDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleDeleteItemResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:ArrayOfAdjustDiscrepantHoldingItemServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="serviceDTO" nillable="true" type="ns3:AdjustDiscrepantHoldingDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:AdjustDiscrepantHoldingServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleCreateItem">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="inputDtos" nillable="true" type="ns3:ArrayOfAdjustDiscrepantHoldingItemDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleCreateItemResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:ArrayOfAdjustDiscrepantHoldingItemServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateItem">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="serviceDTO" nillable="true" type="ns3:AdjustDiscrepantHoldingItemDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateItemResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:AdjustDiscrepantHoldingItemServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleFinalise">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="inputDtos" nillable="true" type="ns3:ArrayOfAdjustDiscrepantHoldingDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleFinaliseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:ArrayOfAdjustDiscrepantHoldingServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleUpdate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="inputDtos" nillable="true" type="ns3:ArrayOfAdjustDiscrepantHoldingDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleUpdateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:ArrayOfAdjustDiscrepantHoldingServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteItem">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="serviceDTO" nillable="true" type="ns3:AdjustDiscrepantHoldingItemDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteItemResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:AdjustDiscrepantHoldingItemServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createItem">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="serviceDTO" nillable="true" type="ns3:AdjustDiscrepantHoldingItemDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createItemResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:AdjustDiscrepantHoldingItemServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleUpdateItem">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="inputDtos" nillable="true" type="ns3:ArrayOfAdjustDiscrepantHoldingItemDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleUpdateItemResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:ArrayOfAdjustDiscrepantHoldingItemServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleRead">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="inputDtos" nillable="true" type="ns3:ArrayOfAdjustDiscrepantHoldingDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multipleReadResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:ArrayOfAdjustDiscrepantHoldingServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchItems">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="context" nillable="true" type="ns1:OperationContext" />
            <xsd:element minOccurs="1" maxOccurs="1" name="searchParams" nillable="true" type="ns3:AdjustDiscrepantHoldingItemSearchParam" />
            <xsd:element minOccurs="1" maxOccurs="1" name="restart" nillable="true" type="ns3:AdjustDiscrepantHoldingItemDTO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchItemsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns3:ArrayOfAdjustDiscrepantHoldingItemServiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://instances.base.types.ellipse.mincom.com">
      <xsd:complexType name="Base" abstract="true" />
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://errors.ellipse.mincom.com">
      <xsd:complexType name="ArrayOfMessage">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="ns6:Message" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Message">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="fieldId" type="xsd:string" />
          <xsd:element minOccurs="0" name="fieldIndex" type="xsd:int" />
          <xsd:element minOccurs="0" name="localisable" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="messageId" type="xsd:string" />
          <xsd:element minOccurs="0" name="messageInstance" type="xsd:string" />
          <xsd:element minOccurs="0" name="messageText" type="xsd:string" />
          <xsd:element minOccurs="0" name="parentInstance" type="xsd:string" />
          <xsd:element minOccurs="0" name="user" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfWarning">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Warning" nillable="true" type="ns6:Warning" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Warning">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns6:Message" />
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfError">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Error" nillable="true" type="ns6:Error" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Error">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ns6:Message" />
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createItemResponse">
    <wsdl:part name="parameters" element="tns:createItemResponse" />
  </wsdl:message>
  <wsdl:message name="multipleUpdateRequest">
    <wsdl:part name="parameters" element="tns:multipleUpdate" />
  </wsdl:message>
  <wsdl:message name="multipleDeleteItemRequest">
    <wsdl:part name="parameters" element="tns:multipleDeleteItem" />
  </wsdl:message>
  <wsdl:message name="deleteItemResponse">
    <wsdl:part name="parameters" element="tns:deleteItemResponse" />
  </wsdl:message>
  <wsdl:message name="finaliseRequest">
    <wsdl:part name="parameters" element="tns:finalise" />
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="updateItemRequest">
    <wsdl:part name="parameters" element="tns:updateItem" />
  </wsdl:message>
  <wsdl:message name="multipleFinaliseResponse">
    <wsdl:part name="parameters" element="tns:multipleFinaliseResponse" />
  </wsdl:message>
  <wsdl:message name="createItemRequest">
    <wsdl:part name="parameters" element="tns:createItem" />
  </wsdl:message>
  <wsdl:message name="finaliseResponse">
    <wsdl:part name="parameters" element="tns:finaliseResponse" />
  </wsdl:message>
  <wsdl:message name="readRequest">
    <wsdl:part name="parameters" element="tns:read" />
  </wsdl:message>
  <wsdl:message name="multipleDeleteItemResponse">
    <wsdl:part name="parameters" element="tns:multipleDeleteItemResponse" />
  </wsdl:message>
  <wsdl:message name="updateRequest">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="multipleCreateItemResponse">
    <wsdl:part name="parameters" element="tns:multipleCreateItemResponse" />
  </wsdl:message>
  <wsdl:message name="searchItemsRequest">
    <wsdl:part name="parameters" element="tns:searchItems" />
  </wsdl:message>
  <wsdl:message name="multipleUpdateResponse">
    <wsdl:part name="parameters" element="tns:multipleUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="multipleReadRequest">
    <wsdl:part name="parameters" element="tns:multipleRead" />
  </wsdl:message>
  <wsdl:message name="multipleFinaliseRequest">
    <wsdl:part name="parameters" element="tns:multipleFinalise" />
  </wsdl:message>
  <wsdl:message name="multipleUpdateItemRequest">
    <wsdl:part name="parameters" element="tns:multipleUpdateItem" />
  </wsdl:message>
  <wsdl:message name="multipleCreateItemRequest">
    <wsdl:part name="parameters" element="tns:multipleCreateItem" />
  </wsdl:message>
  <wsdl:message name="searchItemsResponse">
    <wsdl:part name="parameters" element="tns:searchItemsResponse" />
  </wsdl:message>
  <wsdl:message name="updateItemResponse">
    <wsdl:part name="parameters" element="tns:updateItemResponse" />
  </wsdl:message>
  <wsdl:message name="multipleUpdateItemResponse">
    <wsdl:part name="parameters" element="tns:multipleUpdateItemResponse" />
  </wsdl:message>
  <wsdl:message name="multipleReadResponse">
    <wsdl:part name="parameters" element="tns:multipleReadResponse" />
  </wsdl:message>
  <wsdl:message name="readResponse">
    <wsdl:part name="parameters" element="tns:readResponse" />
  </wsdl:message>
  <wsdl:message name="deleteItemRequest">
    <wsdl:part name="parameters" element="tns:deleteItem" />
  </wsdl:message>
  <wsdl:portType name="AdjustDiscrepantHolding">
    <wsdl:operation name="finalise">
      <wsdl:input name="finaliseRequest" message="tns:finaliseRequest" />
      <wsdl:output name="finaliseResponse" message="tns:finaliseResponse" />
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdl:input name="readRequest" message="tns:readRequest" />
      <wsdl:output name="readResponse" message="tns:readResponse" />
    </wsdl:operation>
    <wsdl:operation name="multipleDeleteItem">
      <wsdl:input name="multipleDeleteItemRequest" message="tns:multipleDeleteItemRequest" />
      <wsdl:output name="multipleDeleteItemResponse" message="tns:multipleDeleteItemResponse" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input name="updateRequest" message="tns:updateRequest" />
      <wsdl:output name="updateResponse" message="tns:updateResponse" />
    </wsdl:operation>
    <wsdl:operation name="multipleCreateItem">
      <wsdl:input name="multipleCreateItemRequest" message="tns:multipleCreateItemRequest" />
      <wsdl:output name="multipleCreateItemResponse" message="tns:multipleCreateItemResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateItem">
      <wsdl:input name="updateItemRequest" message="tns:updateItemRequest" />
      <wsdl:output name="updateItemResponse" message="tns:updateItemResponse" />
    </wsdl:operation>
    <wsdl:operation name="multipleFinalise">
      <wsdl:input name="multipleFinaliseRequest" message="tns:multipleFinaliseRequest" />
      <wsdl:output name="multipleFinaliseResponse" message="tns:multipleFinaliseResponse" />
    </wsdl:operation>
    <wsdl:operation name="multipleUpdate">
      <wsdl:input name="multipleUpdateRequest" message="tns:multipleUpdateRequest" />
      <wsdl:output name="multipleUpdateResponse" message="tns:multipleUpdateResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteItem">
      <wsdl:input name="deleteItemRequest" message="tns:deleteItemRequest" />
      <wsdl:output name="deleteItemResponse" message="tns:deleteItemResponse" />
    </wsdl:operation>
    <wsdl:operation name="createItem">
      <wsdl:input name="createItemRequest" message="tns:createItemRequest" />
      <wsdl:output name="createItemResponse" message="tns:createItemResponse" />
    </wsdl:operation>
    <wsdl:operation name="multipleUpdateItem">
      <wsdl:input name="multipleUpdateItemRequest" message="tns:multipleUpdateItemRequest" />
      <wsdl:output name="multipleUpdateItemResponse" message="tns:multipleUpdateItemResponse" />
    </wsdl:operation>
    <wsdl:operation name="multipleRead">
      <wsdl:input name="multipleReadRequest" message="tns:multipleReadRequest" />
      <wsdl:output name="multipleReadResponse" message="tns:multipleReadResponse" />
    </wsdl:operation>
    <wsdl:operation name="searchItems">
      <wsdl:input name="searchItemsRequest" message="tns:searchItemsRequest" />
      <wsdl:output name="searchItemsResponse" message="tns:searchItemsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdjustDiscrepantHoldingServiceHttpBinding" type="tns:AdjustDiscrepantHolding">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="finalise">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="finaliseRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="finaliseResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="readRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="readResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleDeleteItem">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="multipleDeleteItemRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="multipleDeleteItemResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="updateRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleCreateItem">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="multipleCreateItemRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="multipleCreateItemResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateItem">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="updateItemRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateItemResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleFinalise">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="multipleFinaliseRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="multipleFinaliseResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleUpdate">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="multipleUpdateRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="multipleUpdateResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteItem">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="deleteItemRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteItemResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createItem">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="createItemRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createItemResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleUpdateItem">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="multipleUpdateItemRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="multipleUpdateItemResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleRead">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="multipleReadRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="multipleReadResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchItems">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="searchItemsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchItemsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdjustDiscrepantHoldingService">
    <wsdl:port name="AdjustDiscrepantHoldingServiceHttpPort" binding="tns:AdjustDiscrepantHoldingServiceHttpBinding">
      <wsdlsoap:address location="http://ellipse-eamprd.lmnerp01.cerrejon.com/ews/services/AdjustDiscrepantHoldingService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>